.tableBox{
    width:fit-content ;
    margin: 10px;
    float: right;
    border: 1px solid #8691A833;
    border-radius: 8px;
    padding: 20px;


}

table{
    width:fit-content ;
    margin: 20px;
    float: right;
    
}

 td {
    /* margin-top: 10px; */
    border: 1px solid #8691A833;
    text-align: center;
    color: #7752FE;
}

th{
    background-color: none;
    border: none;
}

.tbtn{
    background-color:  #C2D9FF;
    border: 1px solid #C2D9FF;
    border-radius: 4px;
    color: #190482;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
   
}

.systemResource{
    background-color: #7752FE;
    border: 2px solid #7752FE;
    border-radius: 8px;
    color: #FEFEFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 350px;
    height: 39px;
    pointer-events: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.selectBtn{
    background-color:  #FEFEFE;
    border: 2px solid #7752FE;
    border-radius: 2px;
    color: #7752FE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}


.selectBtn.selected {
    background-color: #1E3895;
    color: white;
    border: none;
  }