
.border{
    border: 1px solid #1E3895;
}

.mainBox {
    position: relative;
    border: 1px #c6cad0 solid;
    display: inline-block;
    border-radius: 5px;
    padding: 0 2%;
}

.box2 {
    /* width: 100%; */
    /* width: fit-content; */
    height: 100%;
    display: inline-block;
    /* float: right; */
    /* margin: 1%; */
}

.search-bar {
    float: right;
}

.clickable-row td {
    /* color: #7752fe; */
    color:rgba(0, 0, 255, 0.575);
    font-weight: 400;
    font-size: 0.9rem;
}

th{
    color: #1e3895e1;
    font-weight: 500;
    font-size: 0.9rem;
}


.clickable-row:hover td {
    transition: 0.5s;
    background-color: #1e3895e1;
    color: white;
}

.custom-button {
    border-color: #1E3895;
  }
  
  .custom-button:hover {
    background-color: #1E3895;
  }
  

@media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        /* Use a two-column layout on larger screens */
    }
}
