.titleHolidayBtn {
    background-color: #7752FE;
    border-color: #7752FE;
    color: #FEFEFE;
    width: 100%;

  }
  
  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}
