<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="container-lg-fluid">
                <div class="row">
                    <div class="table-container">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th class="col">
                                        <app-project-buttuns [btnClss]="'label-project'" [text]="listTopic"></app-project-buttuns>
                                    </th>
                                </tr>
                            </thead>
                            <tr *ngFor="let project of projects">
                                <td>
                                    <app-project-buttuns [btnClss]="'btn-costom'" [text]="project.projectName"></app-project-buttuns>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <app-project-buttuns [btnClss]="'addproject'" [text]="'Add New Sprint'" (click)="detectComp('createform')"></app-project-buttuns>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <ng-container *ngComponentOutlet="comp"></ng-container>
        </div>
    </div>
</div>
