<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="container-fluid">
                <div class="table-container">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th class="">
                                    <app-project-buttuns [btnClss]="'label-project'"
                                        [text]="listTopic"></app-project-buttuns>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sprint of sprints">
                                <td>
                                    <app-project-buttuns [btnClss]="'btn-costom'"
                                        [text]="sprint.Sname"></app-project-buttuns>
                                </td>
                            </tr>

                            <!-- <tr *ngFor="let sprint of sprints">
                                <td>
                                    <app-project-buttuns [btnClss]="'btn-costom'" [text]="sprint.Sname" (click)="detectComp('sprintmgt', sprint.Sname)"></app-project-buttuns>
                                </td>
                            </tr>   -->

                            <tr>
                                <td>
                                    <app-project-buttuns [btnClss]="'addproject'" [text]="'Add New Sprint'"
                                        routerLink="createform"></app-project-buttuns>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-10">
            <!-- <ng-container *ngComponentOutlet="comp"></ng-container> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- (click)="detectComp('createform')" -->