  .custom-size {
    max-width: 100%; /* Set your desired maximum width */
    max-height: 25vh; /* Set your desired maximum height */
    width: 100%;
    height: auto; /* Maintain aspect ratio */ 
  }

  .background-container {
    width: 100%;
    height: 100%; /* Ensures the container covers the entire viewport */
    top: 0;
    left: 0;
  }

  .background-overlay {
    position: absolute;
    max-height: 25vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e1e1e37; /* Black overlay with 50% opacity */
    z-index: 1; /* Overlay should be above the image but below the content */
  }

  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .site-container {
    min-height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-grow-1 {
    flex-grow: 1;
    overflow: hidden;
  }

  .white-div-container {
   
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    /* width: calc(100% - 40px); */
    border-radius: 10px;
    /*inside content padding 10px*/
    padding: 10px;
    /* Adjust the height as necessary, or remove it to fit content */
    max-height: 75vh;
    margin-bottom: 75px;
    /* overflow-y: auto; */
    /* changes */
    height: 100vh;
    display: flex;
    /* position: fixed; */
    background-color: green;
    
    /* width: 100%;  */
  }


  .sidebar{
    display: flex;   
    width: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
    padding: 0;
  }
  .contentContainer{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    background: white;
    width: 100vw;
  }
  .sidebarActive .sidebar {
    width: 300px;
    padding: 10px;
  }
  
  .hederContainer{
    display: flex;
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.2);
    overflow-y: hidden;
    position: relative;
    
  }
  .slider-icon{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
  }
  
  .content{
    display: flex;
    overflow-y: scroll;
    padding: 10px;
  }

  .title {
    color: white;
    margin: 0;
    font-size: 1.5rem; /* Adjust as needed */
  }
  
  

  
  
  
  
  
  /* Footer Styles */
  
  /* Responsive adjustments */
  
  @media (max-width: 768px) {  
  .background-overlay {
      height: 40px; /* Adjust as needed */
      padding: 3px 3px; /* Adjust as needed */
    }
    
    /* Ensure the box containing the title takes full width */
    .bg-primary {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    
    /* Stack logo and initials on small screens */
    .navbar-brand {
      flex: 0 0 auto;
      width: auto;
    }
  }
