<app-spinner></app-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12 justify-content-center border rounded p-2">
      <div class="table-container">
        <div>
          <div class="border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">Project List</div>
        </div>
        <div class="">
          <input type="search" [(ngModel)]="searchText" id="form1" (ngModelChange)="onSearchChange()"
                 class="form-control small-text" placeholder="Search by Name" aria-label="search">
        </div>
        <div class="table-data">
          <div *ngFor="let project of paginatedData" class="btns">
            <button class="menu-button" routerLink="projectTaskDetails/{{project.projectid}}"
                    routerLinkActive="active" (click)="openProject()">{{project.projectName}}</button>
          </div>
        </div>
        <div>
          <ul class="pagination pagination-sm justify-content-center mt-2 mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="currentPage === i + 1">
              <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-10 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
