.re-button {
    background-color: #FEFEFE;
    border: 2px solid #CBCBCB;
    border-radius: 8px;
    color: #7752FE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 188px;
    height: 39px;
    margin-bottom: 15px; 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.re-button:hover{
    background-color: #1E3895;
    color: white;
    border: none;
}