.re-button {
    background-color: #FEFEFE;
    border: 2px solid #CBCBCB;
    border-radius: 8px;
    color: #7752FE;
    text-align: center;
    text-decoration: none;
    width: 100%;
} 

.re-button:hover{
    background-color: #1E3895;
    color: white;
    border: none;
}