<app-spinner></app-spinner>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center border rounded p-2">
      <div class="border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">Sprint List Details</div>

      <div class="row mb-3">
        <div class="col-md-8">
          <div class="input-group mb-3 w-50">
            <input type="search" aria-describedby="search-addon" id="form1" class="form-control small-text"
              placeholder="Search by Sprint Name..." [(ngModel)]="Seachtext" aria-label="search"
              (ngModelChange)="onSearchChange()">
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary custom-button btn-sm w-50"
              routerLink="/pages-body/sprint-management/createform">Add New Sprint</button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm text-center">
          <thead class="thead-dark fs-6 fst-normal">
            <tr>
              <th scope="col" class="col-12 col-md-2">
                <div class="d-flex align-items-center justify-content-center">
                  Sprint Name
                  <span class="input-group-text border-0 clickable-icon" id="search-addon">
                    <i class="bi bi-sort-alpha-down" *ngIf="sortState === 1"
                      (click)="toggleSort('sprintName')"></i>
                    <i class="bi bi-sort-alpha-up-alt" *ngIf="sortState === 2"
                      (click)="toggleSort('sprintName')"></i>
                    <i class="bi bi-arrow-down-up" *ngIf="sortState === 0"
                      (click)="toggleSort('sprintName')"></i>
                  </span>
                </div>
              </th>
              <th scope="col" class="col-12 col-md-2">
                <div class="d-flex align-items-center justify-content-center">
                  Sprint Start Date
                  <span class="input-group-text border-0 clickable-icon" id="search-addon">
                    <i class="bi bi-arrow-up" *ngIf="sortStateStartDate === 1"
                      (click)="toggleSort('startDate')"></i>
                    <i class="bi bi-arrow-down" *ngIf="sortStateStartDate === 2"
                      (click)="toggleSort('startDate')"></i>
                    <i class="bi bi-arrow-down-up" *ngIf="sortStateStartDate === 0"
                      (click)="toggleSort('startDate')"></i>
                  </span>
                </div>
              </th>
              <th scope="col" class="col-12 col-md-2">
                <div class="d-flex align-items-center justify-content-center">
                  Sprint End Date
                  <span class="input-group-text border-0 clickable-icon" id="search-addon">
                    <i class="bi bi-arrow-up" *ngIf="sortStateEndDate === 1"
                      (click)="toggleSort('endDate')"></i>
                    <i class="bi bi-arrow-down" *ngIf="sortStateEndDate === 2"
                      (click)="toggleSort('endDate')"></i>
                    <i class="bi bi-arrow-down-up" *ngIf="sortStateEndDate === 0"
                      (click)="toggleSort('endDate')"></i>
                  </span>
                </div>
              </th>
              <th scope="col" class="col-12 col-md-1">Status</th>
              <th scope="col" class="col-12 col-md-2">
                <div class="d-flex align-items-center justify-content-center">
                  Resource Count
                  <span class="input-group-text border-0 clickable-icon" id="search-addon">
                    <i class="bi bi-arrow-up" *ngIf="sortStateResourceCount === 1"
                      (click)="toggleSort('resourceCount')"></i>
                    <i class="bi bi-arrow-down" *ngIf="sortStateResourceCount === 2"
                      (click)="toggleSort('resourceCount')"></i>
                    <i class="bi bi-arrow-down-up" *ngIf="sortStateResourceCount === 0"
                      (click)="toggleSort('resourceCount')"></i>
                  </span>
                </div>
              </th>
              <th scope="col" class="col-12 col-md-1">
                <div class="d-flex align-items-center justify-content-center">
                  Project Count
                  <span class="input-group-text border-0 clickable-icon" id="search-addon">
                    <i class="bi bi-arrow-up" *ngIf="sortStateProjectCount === 1"
                      (click)="toggleSort('projectCount')"></i>
                    <i class="bi bi-arrow-down" *ngIf="sortStateProjectCount === 2"
                      (click)="toggleSort('projectCount')"></i>
                    <i class="bi bi-arrow-down-up" *ngIf="sortStateProjectCount === 0"
                      (click)="toggleSort('projectCount')"></i>
                  </span>
                </div>
              </th>
              <th scope="col" class="col-12 col-md-2">Add Resources</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sprint of getPaginatedSprints()" (click)="navigateToSprint(sprint.sprint_id)">
              <td>{{ sprint.sprint_name }}</td>
              <td>{{ sprint.start_Date }}</td>
              <td>{{ sprint.end_Date }}</td>
              <td>{{ sprint.status }}</td>
              <td>{{ sprint.resourceCount || 0 }}</td>
              <td>{{ sprint.projectCount || 0 }}</td>
              <td><button class="btn btn-outline-primary custom-button btn-sm w-50" (click)="navigateToAddResources(sprint.sprint_id)">Add</button></td>

            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
