<div class="justify-content-center border rounded p-4 mt-1 cr-font">
    <div class="row text-center">
        <div class="col-6 border-end border-3 border-dark">
            <div class="fw-bold fs-4">{{projectCount}}</div>
            <div>Projects</div>
        </div>
        <div class="col-6">
            <img src="assets\image\checkIcon.png" alt="correct-icon" width="50" height="50">
        </div>
        <div class="mt-1">Created</div>
    </div>
</div> 

<div class="justify-content-center border rounded p-4 mt-1 cr-font">
    <div class="row text-center">
        <div class="col-6 border-end border-3 border-dark">
            <div class="fw-bold fs-4">{{highProjects}}</div>
            <div>Projects</div>
        </div>
        <div class="col-6">
            <div class="crBox bg-danger border rounded mt-2"></div>
        </div>
        <div class="mt-1">High Critical</div>
    </div>
</div>

<div class="justify-content-center border rounded p-4 mt-1 cr-font">
    <div class="row text-center">
        <div class="col-6 border-end border-3 border-dark">
            <div class="fw-bold fs-4">{{MediumProjects}}</div>
            <div>Projects</div>
        </div>
        <div class="col-6">
            <div class="crBox bg-warning border rounded mt-2"></div>
        </div>
        <div class="mt-1">Medium Critical</div>
    </div>
</div>

<div class="justify-content-center border rounded p-4 mt-1 cr-font">
    <div class="row text-center">
        <div class="col-6 border-end border-3 border-dark">
            <div class="fw-bold fs-4">{{lowProjects}}</div>
            <div>Projects</div>
        </div>
        <div class="col-6">
            <div class="crBox bg-success border rounded mt-2"></div>
        </div>
        <div class="mt-1">Law Critical</div>
    </div>
</div>

