<div class="container-fluid card-cr">
    <div class="row crrow">
        <div class="col-6 crColumLeft">
            <div class="pr-count">11</div>
            <div>Projects</div>
        </div>
        <div class="col-6 crColumn">
            <img src="assets\image\checkIcon.png" alt="correct-icon" width="50" height="50">
        </div>
        <div>Created</div>
    </div>
</div>

<div class="container-fluid card-cr">
    <div class="row crrow">
        <div class="col-6 crColumLeft">
            <div class="pr-count">11</div>
            <div>Projects</div>
        </div>
        <div class="col-6 crColumn">
            <div class="crBox high"></div>
        </div>
        <div>High Critical</div>
    </div>
</div>

<div class="container-fluid card-cr">
    <div class="row crrow">
        <div class="col-6 crColumLeft">
            <div class="pr-count">11</div>
            <div>Projects</div>
        </div>
        <div class="col-6 crColumn">
            <div class="crBox medium"></div>
        </div>
        <div>Medium Critical</div>
    </div>
</div>

<div class="container-fluid card-cr">
    <div class="row crrow">
        <div class="col-6 crColumLeft">
            <div class="pr-count">11</div>
            <div>Projects</div>
        </div>
        <div class="col-6 crColumn">
            <div class="crBox low"></div>
        </div>
        <div>Law Critical</div>
    </div>
</div>