/* .card-cr{
   
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #190482;
    margin-bottom: 4%;
}
.crColumn{
    
    padding: 6%;
    flex-direction: column;
    height: 12vh;
}
.crColumLeft{
    
    padding: 3%;
    flex-direction: column;
    height: 12vh;
    border-right: 2px solid #190482;
}
.crrow{
    font-size: 1.0rem;
    text-align: center;
    padding: 6%;
} */
.cr-font{
    color: #190482;
}
.crBox{
    height: 60px;
    width: 60px;
}
/* .high{
    background-color: red;
}
.medium{
    background-color: yellow;
}
.low{
    background-color: green;
} */
