<div class="col-lg-12 col-md-12 col-sm-12 justify-content-center border rounded p-2">
    <div class="border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">Project List Details</div>
    <div class="row mb-3">
      <div class="col-6">
        <div class="col-lg-5 col-sm-5 mb-3 input-group rounded">
          <input type="search" aria-describedby="search-addon" [(ngModel)]="Seachtext" (ngModelChange)="onSearchChange()" id="form1" class="form-control" placeholder="Search..." aria-label="search">
          <span class="input-group-text border-0" id="search-addon">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <!-- Additional content can go here -->
        </div>
      </div>
    </div>
  
    <table class="table table-bordered table-striped table-hover table-sm text-center">
      <thead class="thead-dark fs-6 fst-normal">
        <tr>
          <th scope="col" class="col-3">Project Name</th>
          <th scope="col" class="col-1">Progress</th>
          <th scope="col" class="col-2">Status</th>
          <th scope="col" class="col-2">Priority</th>
          <th scope="col" class="col-2">Delivery Manager</th>
          <th scope="col" class="col-2">Add Task</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of getPaginatedProjects()">
          <td class="clickable" (click)="onClickNavigateTo(project.projectid)">{{ project.projectName }}</td>
          <td class="clickable" (click)="onClickNavigateTo(project.projectid)">{{ projectProgress[project.projectid] || 0 }} %</td>
          <td class="clickable" (click)="onClickNavigateTo(project.projectid)">{{ getProjectStatus(project.projectid) }}</td>
          <td class="clickable" (click)="onClickNavigateTo(project.projectid)">{{ getCriticalityName(project.criticality_id) }}</td>
          <td class="clickable" (click)="onClickNavigateTo(project.projectid)">{{ resourceNames[project.deliveryManager_id] || project.deliveryManager_id }}</td>
          <td><button (click)="onClickAddTask(project.projectid)" class="btn btn-outline-primary w-50 custom-button btn-sm">Add</button></td>
        </tr>
      </tbody>
    </table>
  
    <div>
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
          <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  