<div class="container card-body">
    <div class="heder-label">
        {{taskDetails.taskName}}
    </div>
    <div class="row rowOne">
        <div class="col-6">
            <div class="colBorder">
                ProjectStartDate: {{taskDetails.exStartDate| date: 'dd-MM-yyyy'}}
            </div>
        </div>
        <div class="col-6">
            <div class="colBorder">
                PojectEndDate: {{taskDetails.exEndDate | date: 'dd-MM-yyyy'}}
            </div>
        </div>
        <div class="row rowOne">
            <div class="col-12">
                <div class="colBorder">
                    Expected Total Task Percentage: {{taskDetails.taskAllocationPercentage}}%
                </div>
            </div> 
        </div>
        <div class="row rowOne"> 
            <form>
            <div class="range-slider-container" >
                <input type="range" min="1" max="100" value={{taskDetails.taskProgressPercentage}} class="slider" id="myRange" [(ngModel)]="taskDetails.taskProgressPercentage" name="taskAllocationPercentage"
                    (input)="updateProgress($event)">
                    
                <!-- <span class="slider-value">{{ sliderValue }}</span> -->
                <div class="progress-container-label">
                    Update Progress
                </div>
                <div class="progress-container">
                    {{ taskDetails.taskProgressPercentage }}
                </div>
            </div>
        </form>
        </div>
        <!-- <app-button-tusks [btnClss]="'button-project'" [text]="'Add Percentage'" (onClick)="updatedata()"></app-button-tusks> -->
        <button class="btn button-project" (click)="updatedata()">Add Project</button>
    </div> 
</div>