.formBox {
    width: 100%;
    float: right;
    padding-bottom: 10px;
    border: 1px #ced2d9 solid;
    border-radius: 5px;
}

.font-color1{
    color: #1e3895e1;
    font-weight: 500;
}

::placeholder {
    color: #c3c0ce;
    /* Change this to your desired color */
}

.formDetailBox {
    border: #c3c0ce 1px solid;
    padding-right: 5px;
    padding-bottom: 3%;
    border-radius: 5px;
    margin: 3%;
}

.form-group label {
    display: block;
}

.form-group p,
.form-group .form-control,
.form-group .form-select {
    display: inline;
}

.form-group .form-control,
.form-group .form-select {
    width: 75%;
}

.form-group p {
    margin-right: 10px;
    float: left;
    width: 30%;
    margin-left: 5%;
}

/* .editButton {
    width: 40%;
    color: #7752fe;
    background-color: white;
    border: rgb(203, 203, 203) 1px solid;
    border-radius: 5px;
    margin: 5% 25% 0 25%;
    padding: 5px;
}

.editButton:hover {
    transition: 0.5s;
    background-color: #04175a;
    color: white;
} */

.inputField {
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    color: #7752fe;
}

/* .edit {
    display: flex;
    justify-content: center;
} */

/* .deleteButton {
    width: 40%;
    color: red;
    background-color: white;
    border: red 1px solid;
    border-radius: 5px;
    margin: 0 5%;
    padding: 5px;
    display: inline-block;
} */

.deleteButton {
    float: right;
}

/* .deleteButton:hover {
    transition: 0.5s;
    background-color: red;
    color: white;
} */

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
    .formBox {
        width: 100%;
        margin: 10px 0;
    }

    .topic {
        width: 90%;
    }

    .editButton {
        width: 90%;
        margin: 0 5%;
    }

    .deleteButton {
        width: 90%;
        margin: 0 5%;
    }

    .inputField .form-control,
    .inputField .form-select {
        width: 90%;
    }

    .form-group p {
        margin-right: 5px;
    }
}