.container {
    max-width: 1200px; /* Adjust the maximum width based on your design */
    margin: 0 auto;
    padding: 20px; /* Adjust padding based on your design */
}

.text {
    color: #190482;
    font-size: 2rem; /* Adjust font size based on your design */
    font-family: Montserrat;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .text {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
