.teamListBtn{
    background-color: #7752FE;
    border: 2px solid #7752FE;
    color: #FEFEFE;
    width: 100%;
    pointer-events: none;
}

.team-data{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 10px 0;
    max-height: 83vh;
    overflow-y: scroll;
    
}

.teamNameBtn{
    background-color: #C2D9FF;
    border: 2px solid #C2D9FF;
    border-radius: 8px;
    color: #7752FE;
    text-align: center;
    text-decoration: none;
    width: 100%;
   
}

/* .teamListBox{
    width:100%;
    
}

.tableList{
    width: 100%;
} */

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.teamList{
    height: 80vh;
    overflow-y: scroll;
}


.team-data::-webkit-scrollbar {
    width: 0; 
  }
  
.team-data {
    scrollbar-width: none; 
}
