
.teamListBox{
    width:100%;
    /* height: 100vh; */
    /* float: left; */
    
}

.teamListBtn{
    background-color: #7752FE;
    border: 2px solid #7752FE;
    border-radius: 8px;
    color: #FEFEFE;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    width: 100%;
    height: 39px;
    pointer-events: none;
    margin-top: 10px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

.teamNameBtn{
    background-color: #C2D9FF;
    border: 2px solid #C2D9FF;
    border-radius: 8px;
    color: #7752FE;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    width: 100%;
    height: 39px;
    margin-top: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
}
.tableList{
    width: 100%;
}

/* Override Bootstrap row padding */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

/* Optionally, remove padding from columns within the row */
.row.no-gutters > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.teamList{
    height: 80vh;
    overflow-y: scroll;
}
