<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-2">
      <div class="table-container border-top">
        <div>
          <button class="teamListBtn btn btn-primary btn-md">Team List</button>
        </div>

        <div class="table-data">
          <div *ngFor="let team of teams " class="btns">
            <button class="teamNameBtn btn btn-primary" routerLink="/update/{{team.id}}"
              routerLinkActive="active">{{team.teamName}}</button>
          </div>
        </div>

        <div>
          <app-new-team-button [text]="'New Team'" routerLink="TeamForm"></app-new-team-button>
        </div>
      </div>
    </div>

    <div class="col-10 ">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>