.form-container{
    width: 100%;
    border: solid 1px #ccc;
    background-color: #FEFEFE;
    padding: 10px;
    width: 60%;
    
}
.pm-label{
    font-size: 1.0rem;
    font-weight: 600px;
    color: #7752FE;
    margin-top: 1%;
}

.col-label{
    font-size: 1.0rem;
    color: #7752FE;
    text-align: right;
}

.row-label{
    margin-top: 1%;
    margin-bottom: 1%;
}
::placeholder{
    color: #7752FE;
    opacity: .5;
}

.form-control{
    color: #7752FE;
}

select {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #7752FE; /* Text color when not focused */
    background-color: #fff; /* Background color when not focused */
    opacity: .5;
}

/* Style the select element when it is focused */
select:focus {
    border-color: #7752FE; /* Border color when focused */
    color: #7752FE; /* Text color when focused */
}

/* Style the options inside the dropdown */
select option {
    color: #7752FE; /* Text color of options */
    background-color: #fff; /* Background color of options */
}

/* Style the options when hovered */
select option:hover {
    background-color: #7752FE; /* Background color of options when hovered */
    color: #fff; /* Text color of options when hovered */
}


#projectStartDate::-webkit-datetime-edit-text,
#projectStartDate::-webkit-datetime-edit-month-field,
#projectStartDate::-webkit-datetime-edit-day-field,
#projectStartDate::-webkit-datetime-edit-year-field {
    color: #7752FE;
    opacity: .5;
    outline: none;
    caret-color: transparent;
}

#projectEndDate::-webkit-datetime-edit-text,
#projectEndDate::-webkit-datetime-edit-month-field,
#projectEndDate::-webkit-datetime-edit-day-field,
#projectEndDate::-webkit-datetime-edit-year-field {
    color: #7752FE;
    opacity: .5;
    outline: none;
    caret-color: transparent;
}

.button-edit{
    color: #7752FE;
    border: solid 1.5px #7752FE;
    font-weight: semibold;
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    height: 10%;
}
.button-edit:hover{
    color: #FEFEFE;
    background-color: #1E3895;
    font-weight: semibold;
    border: solid 1px #7752FE;
}
.button-delete{
    color: #FF0000;
    border: solid 1.5px #FF0000;
    font-weight: semibold;
    width: 20%;
    margin-top: 3%;
    margin-left: 65%;
    height: 8%;
}
.button-delete:hover{
    color: #FEFEFE;
    background-color: #FF0000;
    font-weight: semibold;
    border: solid 1px #FF0000;
}