.font-color {
    color: #1E3895;
}

select {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* color: #7752FE;  */
    background-color: #fff; 
    opacity: .5;
}


#projectStartDate::-webkit-datetime-edit-text,
#projectStartDate::-webkit-datetime-edit-month-field,
#projectStartDate::-webkit-datetime-edit-day-field,
#projectStartDate::-webkit-datetime-edit-year-field {
    /* color: #7752FE; */
    opacity: .5;
    outline: none;
    caret-color: transparent;
}

#projectEndDate::-webkit-datetime-edit-text,
#projectEndDate::-webkit-datetime-edit-month-field,
#projectEndDate::-webkit-datetime-edit-day-field,
#projectEndDate::-webkit-datetime-edit-year-field {
    /* color: #7752FE; */
    opacity: .5;
    outline: none;
    caret-color: transparent;
}

.custom-button {
    border-color: #1E3895;
}

.custom-button:hover {
    background-color: #1E3895;
}

.dropdown-content {
    display: none;
    background-color: #ffffff;
    min-width: 100%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
  }
  
  .dropdown-content ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
  }
  
  .dropdown-content li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content li:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  
  /* .input-group {
    position: relative;
  } */