.border{
    border: 1px solid #1E3895;
}

.formBox {
    width: 100%;
    float: inline-start;
    /* margin-top: 10px; */
    /* padding-bottom: 10px; */
    padding-left: 2%;
    padding-right: 2%;
    border: 1px #ced2d9 solid;
    border-radius: 5px;
    position: relative;
}
.custom-button {
    border-color: #1E3895;
}
  
.custom-button:hover {
    background-color: #1E3895;
}
  

.topic {
    margin-left: auto;
    margin-right: auto;
}

.detailBox {
    border: 1px solid #ced2d9;
    margin: 3% auto;
    border-radius: 5px;
    font-size: 0.9rem;
}

.editButton {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

.deleteButton {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 2%;
    background: rgb(119, 203, 210);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.9rem;
}

li:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 20px;
    width: 1px;
    background-color: #828282;
}