<div class="container-fluid col-md-10 col-lg-10">
    <div class="formBox mt-3 pb-3" *ngIf="!showUnitEditForm">
        <div class="topic border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary ">
            {{unit.unitName}}
        </div>

        <div class="form-group mb-3">
            <div class="details mb-5">
                <div>
                    <button class="detailButton">
                        {{unit.description}}
                    </button>
                </div>
            </div>

            <div class="topic border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">
                Current Navigation
            </div>
            <ng-container *ngFor="let navUnit of navigationList; let i = index">
                <span>{{ navUnit.unitName }}</span>
                <span *ngIf="i !== navigationList.length - 1"> / </span>
            </ng-container>

            <div class="editAndDelete">
                 <button type="button" class="btn btn-outline-primary editButton" (click)="onEdit()" >Edit Org.Unit</button><!--(click)="passUnitDetails(unit) -->
            </div>

            <div class="editAndDelete">
                <button type="button" class="btn btn-outline-danger deleteButton" (click)="onDeleteUnit()">Delete Org.Unit</button>
            </div>
        </div>
    </div>

    <app-unit-edit-form *ngIf="showUnitEditForm"></app-unit-edit-form>
</div>




