.highlighted-task {
    color: rgb(227, 113, 113);
  }
  .calendar-container {
    max-width: 100%;
    overflow-x: auto;
}

.ngb-dp-day,
.ngb-dp-month,
.ngb-dp-year {
    display: block;
    width: 100%;
    max-width: 100%;
}

.custom-day {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: .25rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.holiday {
    background-color: #f9d6d5;
}

@media (max-width: 576px) {
    .calendar-container {
        max-width: 100%;
        overflow-x: auto;
    }
}

  .slider {
    width: 90%;
    height: 20px;
    background-color: #A9BCFF;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 6px;
    margin-right: 100px;
  
  }
  
  input[type="range"] {
  
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #A9BCFF;
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 20px;
    width: 20px;
    background-color: #007bff;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #007bff;
    position: relative;
  }
  
  .form-select option input.form-control {
    display: block;
    width: 100%;
    border: none;
    padding: 0.375rem 0.75rem;
  }
  .initials-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    /* Initial width for larger screens */
    height: 60px;
    /* Initial height for larger screens */
    border-radius: 50%;
    background-color: #007bff;
    /* Change background color as needed */
    color: white;
    /* Text color */
    font-size: 1rem;
    /* Adjust font size as needed */
    margin: auto;
    /* Center the circle horizontally */
}

@media (max-width: 576px) {
    .initials-circle {
        width: 60px;
        /* Adjust width for smaller screens */
        height: 60px;
        /* Adjust height for smaller screens */
        font-size: 1.5rem;
        /* Adjust font size for smaller screens */
    }
}