<div>

  <div class="row">
    <div class="col-6 border rounded">

      <div>

        <div class="p-2 mt-3 mb-2 bg-primary text-white text-center ">
          Create New Sprint</div>


        <form #sprintForm="ngForm" (ngSubmit)="getSprintFormData(sprintForm.value)">

          <div class="form-group row p-3">

            <label class="text fw-bold">Sprint Time *</label><br>

            <div class="form-group col-md-6">

              <label class="text-primary p-3">From:</label>
              <input type="date" class="border rounded text-black-50" [(ngModel)]="startDate" name="startDate"
                required />

            </div>
            <div class="form-group col-md-6">

              <label class="text-primary p-3">To:</label>
              <input type="date" class="border rounded text-black-50" [(ngModel)]="endDate" name="endDate" required />
            </div>
            <!-- Display validation error message if dates are invalid -->
            <div *ngIf="dateErrorMessage" class="col-12 text-danger">
              {{ dateErrorMessage }}
            </div>
          </div>

          <div class="form-group row p-3">
            <label class="text fw-bold">Sprint Name *</label><br>
            <label class="text-primary col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Enter Sprint Name" [(ngModel)]="sprintName"
                name="sprintName" required />
            </div>

          </div>

          <app-added-resource-list [HeadArray]="headArray" [tablecontents]="resources"></app-added-resource-list>

          <div class="d-grid gap-2 col-6 mx-auto mb-2">
            <button type="button" routerLink="availableResources" class="btn btn-outline-primary"> + Add New
              Resource</button>

          </div>
          <div class="d-grid gap-2 col-6 mx-auto border rounded">
            <button type="submit" class="btn btn-outline-primary mb-3">Create Sprint</button>
          </div>
          <div *ngIf="statusMessage" class="col-12 text-center mt-2 text-danger">
            {{ statusMessage }}
        </div>
        </form>

      </div>

    </div>

    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>