<div class="container ">

  <div class="row">
    <div class="col-6">

      <div class="box1">

        <div
          class="d-grid rounded text-white text-center boxclr bd-highlight mx-auto shadow p-3 mb-5 w-100 text2 mt-3 ">
          Create New Sprint</div>

        <div class="form-container">
          <form #sprintForm="ngForm" (ngSubmit)="getSprintFormData(sprintForm.value)">

            <label class="text2 fw-bold">Sprint Time</label><br>

            <label class="text3 p-3">From:</label>
            <input type="date" class="text4 border rounded" [(ngModel)]="startDate" name="startDate" required />

            <br />

            <label class="text3 p-3">To:</label>

            <input type="date" class="text4 border rounded" [(ngModel)]="endDate" name="endDate" required />


            <br />
            <label class="text2 fw-bold">Sprint Name</label><br>
            <label class="text3 box3">Name:</label>
            <input type="text" class="text4 box2" [(ngModel)]="sprintName" name="sprintName" required />
            <br />

            <app-added-resource-list [HeadArray]="headArray" [tablecontents]="resources"></app-added-resource-list>
            <br />
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" class="btn btn-outline-primary btn-lg text fw-bold" routerLink="availableResources">Add New
                Resource</button>
          
            </div>
            <div class="d-grid gap-2 col-6 mx-auto border rounded">
              <button type="submit" class="btn btn-primary text5 fw-bold">Create Sprint</button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>