
.text {
  color: #1e3895;
}

/* Button hover color change */
button.btn:hover {
  background: #1e3895;
  color: #ffffff; 
  border-color: #1e3895; 
}


.custom,
th{
    color: #1e3895e1;
    font-weight: 500;
}

td{
    color:rgba(0, 0, 255, 0.575);
    font-weight: 300;
    font-size: 0.75rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #3b5edd;
    color: white;
    cursor: pointer;
}

.small-text {
  font-size: 0.7rem;
}
