.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

input.search-input::placeholder {
    color: #b8b8b8; /* Replace with your desired color */
    text-align: center; 
}

.custom-button{
   border-color: #1E3895;
}

.custom-button:hover{
    background-color: #1E3895;
}


.border{
    border: 1px solid #1E3895;
}

th{
    color: #1e3895e1;
    font-weight: 500;
}

td{
    color:rgba(0, 0, 255, 0.575);
    font-weight: 300;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #3b5edd;
    color: white;
    cursor: pointer;
}