<app-spinner></app-spinner>
<div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">
  <div class="border rounded p-2 custom-card">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="border rounded text-center col-10 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">User List</div>
      <div class="border rounded col-12">

        <div class="container mt-3 d-flex justify-content-end">
          <div class="col-5">
            <app-search-bar></app-search-bar>
          </div>
        </div>

        <div class="container mt-2 ">
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead class="thead-dark fs-6 fst-normal">
              <tr>
                <!-- <th scope="col" class="col-1">#</th> -->
                <th scope="col" class="col-6">User Name</th>
                <th scope="col" class="col-6">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of usersData | slice: (currentPage-1) * itemsPerPage : currentPage * itemsPerPage; let i = index"
                routerLink="userDetail/{{user?.user_id}}">
                <!-- <th scope="row">{{user?.userId}}</th> -->
                <td>{{user?.user_name}}</td>
                <td>{{user?.user_email}}</td>
              </tr>
            </tbody>
          </table>
          <!-- table pagination -->
          <div>
              <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" (click)="currentPage = currentPage - 1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                  [class.active]="currentPage === i + 1">
                  <a class="page-link" (click)="currentPage = i + 1">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link" (click)="currentPage = currentPage + 1" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary w-50 mt-3 custom-button btn-sm curser"
        routerLink="addNewUser">Add New User</button>
    </div>
  </div>
</div>