<div class="login-page position-relative">
    <div id="maindiv" class="center">
        <div class="login-form-container">
            <div class="container-fluid" >
                <div class="row">
   
                    <div class="col-12 col-md-6 col-md-border">
                
                        <img id="logo" src="/assets/image/Logo.jpg" alt="logo" class="img-fluid center mb-4" />          
                    </div>
                    <div class="col-12 col-md-6 col-md-border">
                        <div id="userProfile" class="center mb-4">
                            <img src="/assets/image/User-Profile.png" alt="User-profile" class="img-fluid center"/></div>
                            <p id="text1" class="text-center mb-4">Log In</p>
                            <p id="text2" class="text-center">Please Login to Your Account</p>
                            <form class="d-flex flex-column">
                                <div>
                                    <label id="text2">Username</label><br>
                                    <input type="email" formControlName="email" placeholder="Enter your email" id="box1" class="img-fluid"/>
                                </div>
                                <div>
                                <label id="text2">Password</label><br>
                                <input type="password" formControlName="password" placeholder="Password" id="box1" class="img-fluid"/>
                                </div>
                                <div id="text2">
                                    <br>
                                    <a href="#">Forgot Your Password?</a>
                                </div>
                                <div>
                                    <br>
                                    <button type="submit" class="text3 box2 img-fluid" >Log In</button>
                                </div>
                            </form>
                    </div>
                </div>      
            </div>
        </div>
    </div>
    <div class="company-name">
        <h1>TAPRO TECHNOLOGIES</h1>
    </div>    
</div>
