
table{
    width:100% ;
     
}

 td {
    color: #7752FE;
}


.tbtn{
    background-color:  #C2D9FF;
    border: 1px solid #C2D9FF;
    color: #190482;

}

.systemResource{
    background-color: #7752FE;
    color: #FEFEFE;
    width: 100%;
    
    
}

.selectBtn{
    background-color:  #FEFEFE;
    border-color: #7752FE ;
    color: #7752FE;
   

}


.selectBtn.selected {
    background-color: #1E3895;
    color: white;
  }