.btn-custom-color{
    background-color: #7752FE;
}
.btn-listmenu{
    background-color: #7752FE;
    color: #FEFEFE;
    width: 100%; /* Set the width for desktop */
    height: 40px;
    font-weight: bold;
    text-align: center;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 10px;
}

.btn-listmenu:hover{
    background-color:  #1E3895;
    color: #FEFEFE;
}

.btn-costom{
    width: 95%; /* Set the width for desktop */
    height: 40px;
    font-weight: bold;
    background-color: #fefefe;
    border: .5px solid #7752FE;
    border-radius: 10px;
    color: #7752FE;
    margin-top: 2%;
    margin-left: 2%;


    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add transition effect */

    /* Add subtle elevation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Add padding */
    padding: 0 15px;

    /* Center text vertically */
    line-height: 40px;

    /* Cursor pointer to indicate interactivity */
    cursor: pointer;

    
}

.btn-costom:hover{
    background-color: #7752FE;
    color: #FEFEFE;
}


@media (max-width: 575.98px) {
    /* Styles for screens less than 576px wide (xs) */
    .btn-listmenu,
    .btn-costom {
        font-size: 0.8rem;
    }
}
@media (min-width: 576px) {
    /* Styles for screens equal to or greater than 576px wide (sm) */
    .btn-listmenu,
    .btn-costom {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    /* Styles for screens equal to or greater than 768px wide (md) */
    .btn-listmenu,
    .btn-costom {
        font-size: 0.9rem; 
    }
}
@media (min-width: 992px) {
    /* Styles for screens equal to or greater than 992px wide (lg) */
    .btn-listmenu,
    .btn-costom {
        font-size: 1.0rem;
        line-height: .95;
    }
}
@media (min-width: 1200px) {
    /* Styles for screens equal to or greater than 1200px wide (xl) */
    .btn-listmenu,
    .btn-costom {
        font-size: 1.1rem;
        line-height: .98;
    }
}
