<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="card l-bg-blue-dark">
            <div class="p-1 text-center">
                <span><i class="bi bi-check2-circle fs-3"></i></span>
                <div class="fw-medium fs-6">Done Projects</div>
                <div class="row align-items-center d-flex">
                    <div class="col-6">
                        <div class="align-items-center mb-0 fs-4 fw-medium">
                            21
                        </div>
                    </div>
                    <div class="col-6">
                        <span><i class="bi bi-check2-circle"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="card l-bg-blue-dark">
            <div class="p-1 text-center">
                <span><i class="bi bi-brightness-high fs-3"></i></span>
                <div class="fw-medium fs-6">In Progress Projects</div>
                <div class="row align-items-center d-flex">
                    <div class="col-6">
                        <div class="align-items-center mb-0 fs-4 fw-medium">
                            121
                        </div>
                    </div>
                    <div class="col-6">
                        <span><i class="bi bi-brightness-high"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-1 text-center">
                <span><i class="bi bi-person-workspace fs-3"></i></span>
                <div class="fw-medium fs-6">Employees</div>
                <div class="row align-items-center d-flex">
                    <div class="col-6">
                        <div class="align-items-center mb-0 fs-4 fw-medium">
                            426
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <span><i class="bi bi-person-workspace"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>