<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="card l-bg-blue-dark">
            <div class="p-1 text-center">
                <span><i class="bi bi-check2-circle fs-4"></i></span>
                <div class="fw-normal small-text">Created Projects</div>
                <div class="row align-items-center d-flex">
                    <div class="col-6">
                        <div class="align-items-center mb-0 fs-4 fw-medium">
                            {{this.createdProject_count}}
                        </div>
                    </div>
                    <div class="col-6">
                        <span><i class="bi bi-check2-circle"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="card l-bg-blue-dark">
            <div class="p-1 text-center">
                <span><i class="bi bi-brightness-high fs-4"></i></span>
                <div class="fw-normal small-text">In Progress Projects</div>
                <div class="row align-items-center d-flex">
                    <div class="col-6">
                        <div class="align-items-center mb-0 fs-4 fw-medium">
                            12
                        </div>
                    </div>
                    <div class="col-6">
                        <span><i class="bi bi-brightness-high"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-1 text-center">
                <span><i class="bi bi-person-workspace fs-4"></i></span>
                <div class="fw-normal small-text">Employees</div>
                <div class="row align-items-center d-flex">
                    <div class="col-6">
                        <div class="align-items-center mb-0 fs-4 fw-medium">
                            426
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <span><i class="bi bi-person-workspace"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 mb-2">
        <!-- <div class="card l-bg-blue-dark"> -->
            <div class="container p-2 text-center d-flex flex-column align-items-center">
                <div class="fw-normal small-text mt-2 mb-2 font-color">Project Criticality</div>
                <apx-chart [series]="chartOptions.series || []" [chart]="chartOptions.chart || { type: 'line' }" [responsive]="chartOptions.responsive || []" [labels]="chartOptions.labels || []" class=""></apx-chart>
              </div>
        <!-- </div> -->
    </div>
</div>