<div class="border rounded container">
    <div class="row">
        <div class="col-10">
            <div class="p-2 mt-3 mb-2 bg-primary text-white text-center border rounded">Availability</div>
        </div>
        <div class="col-2">
            <button class="border btn shadow-none bd-highlight shadow p-2 mb-3 w-100 mt-3" (click)="deleteContent()">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col rounded border border-4 ms-2 p-3 mb-2 text-center">
                    <i class="bi bi-person"></i>
                    <div>{{ resourceDetails.resourceId }}</div>
                    <div class="text-primary">{{ resourceDetails.resourceName }}</div>
                    <div class="text-black-50">{{ resourceDetails.job_role?.roleName }}</div>
                </div>
                <label class="text fw-bold text-center">Calendar</label>
                <div class="p-2"><ngb-datepicker></ngb-datepicker></div>


                <div class="w-100"></div>

            </div>
        </div>
        <div class="col-7">
            <div class="rounded border mb-5 p-3 ">
                <div class="p-2 mb-2 bg-primary text-white text-center rounded border bg-opacity-50">Add Percentage
                </div>

                <div class="row mb-1" *ngFor="let task of tasks">
                    <div class="col-5">{{ task.projectName }}
                    </div>
                    <div class="col-5 ms-1">{{ task.taskName }}</div>
                    <div class="col-1">{{ task.taskAllocationPercentage }}</div>
                    <!-- <div class="col-1">
                        <button class="border rounded">
                            <i class="bi bi-check"></i>
                        </button>
                    </div> -->
                </div>

                <div class="row mb-1">
                    <div class="col-5">
                        <select class="form-select" (change)="onProjectSelect($event)">
                            <!-- Placeholder for filtering by Team Name -->
                            <option value="" disabled selected>Project</option>
                            <option *ngFor="let project of Projects" [value]="project.projectid">{{ project.projectName }}</option>
                        </select>
                    </div>
                    <div class="col-5 ms-1">
                        <select class="form-select">
                            <option value="" disabled selected>Task</option>
                            <option *ngFor="let task of Tasks" [value]="">{{ task.taskName }}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <input type="text" class="bordered rounded">
                    </div>
                    <!-- <div class="col-1">
                        <button class="border rounded">
                            <i class="bi bi-check"></i>
                        </button>
                    </div> -->
                </div>

                <div class="col-6 mt-5">
                    <button class="btn btn-outline-primary" type="button"> Add </button>
                </div>
            </div>
        </div>
    </div>



</div>