/* Button hover color change */
.Hover:hover {
    background: #1e3895;
    color: #ffffff;
    border-color: #1e3895;
}

.text {
    color: #1e3895;
}

.highlighted-task {
    color: rgb(227, 113, 113);
  }
  