.formBox {
    width: 100%;
    float: right;
    padding: 0 3%;
    border: 1px #ced2d9 solid;
    border-radius: 5px;
}

.font-color1{
    color: #1e3895e1;
    font-weight: 500;
}

.font-color2{
    color:rgba(0, 0, 255, 0.575);
    font-weight: 400;
}

.form-group p {
    float: left;
    width: 25%;
} 

.form-group label {
    display: block;
    font-size: 0.9rem;

}

.form-group p,
.form-group .form-control,
.form-group .form-select {
    display: inline;
    font-size: 0.9rem;
}

.form-group .form-control,
.form-group .form-select {
    width: 75%;
}

.custom-button {
    border-color: #1E3895;
  }
  
  .custom-button:hover {
    background-color: #1E3895;
  }  

.inputField {
    display: flex;
    position: relative;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    /* color: #7752fe; */
}

.invalid-feedback {
    display:block;
    width: 100%;
    text-align: right;
}

@media (min-width: 768px) {
    /*.inputField p {
        float: left;
        margin-left: 5%;
        margin-right: 3%;
    }*/
}


.add {
    display: flex;
    justify-content: center;
}

/* Form responsiveness */
@media screen and (max-width: 768px) {

    .inputField p {
        margin-left: 0; /* Remove left margin */
        margin-right: 3%; /* Add right margin */
    }

    .inputField .form-control,
    .inputField .form-select {
        width: 100%; /* Full width inputs */
    }

    .addButton {
        width: 70%; /* Adjust button width */
        margin: 0 15%; /* Adjust button margins */
    }
}