.formBox {
    width: 100%;
    float: right;
    padding: 0 3%;
    border: 1px #ced2d9 solid;
    border-radius: 5px;
}

.font-color1{
    color: #1e3895e1;
    font-weight: 500;
}

.font-color2{
    color:rgba(0, 0, 255, 0.575);
    font-weight: 400;
}

.form-group p {
    float: left;
    width: 25%;
} 

::placeholder {
    color: #c3c0ce;
}

.form-group label {
    display: block;

}

.form-group p,
.form-group .form-control,
.form-group .form-select {
    display: inline;
}

.form-group .form-control,
.form-group .form-select {
    width: 75%;
}

.addButton {
    width: 75%;
    /* Set the width for desktop */
    height: 40px;
    font-weight: 500;
    background-color: #fefefe;
    border: .5px solid #b4a0ff88;
    border-radius: 10px;
    color: #1e3895;
    /* margin-top: 3%;
    margin-left: 3%; */
    margin: 3% 3%;
    content: fit-content;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    /* Add subtle elevation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add padding */
    padding: 0 15px;
    /* Center text vertically */
    line-height: 40px;
    /* Ensure text fits within the button */
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
}
  
.addButton:hover,
.addButton:active {
    background-color: #1e3895;
    color: #FEFEFE;
}

.inputField {
    display: flex;
    justify-content: center;
    color: #7752fe;
}

@media (min-width: 768px) {
    .inputField p {
        float: left;
        margin-left: 5%;
        margin-right: 3%;
    }
}


.add {
    display: flex;
    justify-content: center;
}

/* Form responsiveness */
@media screen and (max-width: 768px) {

    .inputField p {
        margin-left: 0; /* Remove left margin */
        margin-right: 3%; /* Add right margin */
    }

    .inputField .form-control,
    .inputField .form-select {
        width: 100%; /* Full width inputs */
    }

    .addButton {
        width: 70%; /* Adjust button width */
        margin: 0 15%; /* Adjust button margins */
    }
}