<!-- Background Image -->
<div class="background-wrapper">
    <img src="assets/image/backimage1.jpg" class="img-fluid" alt="Background Image">
</div>
<!-- page content  -->
<div class="container mt-5 mb-5" style="width: 70%;">
    <div class="pt-5 pb-5 container" style="background-color: #f3f8ff; border-radius: 8px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center col-md-border">
                <div class="text-center container">
                    <img src="assets/image/taprologo.png" class="logo" alt="Tapro Logo" >
                </div>
            </div>
            <div class=" col-md-6 d-flex col-md-border flex-column">
                <div class="cntainer text-center pb-5 pt-5">
                    <div>
                        <img id="key" src="/assets/image/key.png" alt="logo" class="logo" />
                        <p class="fs-4 fw-bold text-color">Forgot Password?</p>
                        <p class="fs-6 fw-medium text-color">Enter your emails to send password reset link</p>
                        <form class="text-start container-sm text-color px-5">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label fw-medium">Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email" required>
                            </div>
                            <div class="d-grid gap-2 ">
                                <button class="btn btn-outline-primary" type="submit">Send Password Reset Link</button>
                            </div>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer company name -->
<div>
    <p class="text-center text-uppercase fs-1 fw-bold" style="color: #ffffff;">Tapro Technologies</p>
</div>


        