<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-md-12 col-lg-12 p-2 ">
      <div>
        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t"
          outsideDays="hidden" class="p-3 mb-2 border rounded"></ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" 
                [class.selected]="isSelected(date)"
                [class.public]="getHolidayType(date) === 'public'"
                [class.bank]="getHolidayType(date) === 'bank'"
                [class.mercantile]="getHolidayType(date) === 'mercantile'"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>

        <div class="grid-item-button ">
          <div class="pic d-flex justify-content-center">
            <button class="addbtn btn border rounded text-center w-50" *ngIf="actionType === 'add'"
              (click)="onAddButtonClick()">Add</button>
            <button class="editbtn  btn border rounded text-center w-50" *ngIf="actionType === 'edit'"
              (click)="onEditButtonClick()">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
