<div class="container card-body">
    <div class="heder-label">
       {{projectData?.projectName}}
    </div>
    <div class="detailCard">
        <div class="container">
            <div class="row rowOne">
                <div class="col-6">
                    <div class="colBorder">
                        ProjectStartDate: {{projectData?.projectStartDate | date: 'dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="col-6">
                    <div class="colBorder">
                        PojectEndDate: {{projectData?.projectEndDate | date: 'dd-MM-yyyy'}}
                    </div>
                </div>
            </div>
            <div class="row rowOne">
                <div class="col-12">
                    <div class="colBorder">
                        DeliveryManager: {{projectData?.deliveryManager}}
                    </div>
                </div>
            </div>
            <div class="row rowTwo">
                <div class="col-9">
                    <div class="colDescription">
                        Project Description: {{projectData?.projectDescription}}
                    </div>
                </div>
                <div class="col-3">
                    <div class="colCricality ">
                        Project Criticality:
                        <div [ngClass]="projectData?.criticality" class="levelSqure">
                         </div>
                        {{projectData?.criticality}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="heder-label">
        Task Management
    </div>
    <div class="taskTable">
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col" class="col-4"><div class="btn-costom">Task ID</div></th>
                <th scope="col" class="col-4"><div class="btn-costom">Expected Task %</div></th>
                <th scope="col" class="col-4"><div class="btn-costom">Task progress</div></th>
              </tr> 
            </thead>
            <tbody>
              <!-- <tr ng *ngFor="let task of tasks" class="tableRow" (click)="handleTaskClick(task.taskId)">
                <td class="col-4 tableContent">{{task.taskId}}</td>
                <td class="col-4 tableContent">{{task.expectedTaskPercentage}}</td>
                <td class="col-4 tableContent"><input type="range" min="1" max="100" value={{task.taskProgress}} class="slider" id="myRange" disabled>{{task.taskProgress}} %</td>
              </tr> -->
            </tbody> 
          </table>
          <app-button-tusks [btnClss]="'button-project'" [text]="'Add New Task'"></app-button-tusks>
    </div>
</div>