
.heder-label{
    font-size: 20px;
    font-weight: semi-bold;
    text-align: center;
    background-color: #7752FE;
    height: 6%;
    width: 100%;
    border-radius: 8px;
    color: white;
    display: block;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.detailCard{
    position: relative; 
    margin-top: 20px;
    border: 1px double #CBCBCB;
    border-radius: 8px;
}
.card-body{
    width: 100%;
    color: #7752FE; 
    font-weight: 600; /* Semi-bold font weight */
    border: 1px solid  #CBCBCB; /* Border style */
    padding: 5px;
}
.rowOne{
    margin-top: 10px;
    margin-bottom: 10px;
}
.colBorder{
    border: 1px double #CBCBCB;
    padding: 10px;
    border-radius: 5px;
}
.rowTwo{
    margin-top: 10px;
    margin-bottom: 10px;
}
.colDescription{
    padding: 10px;
    height: 300px;
    border-radius: 5px;
    border: 1px double #CBCBCB;
}
.colCricality{
    border: 1px double #CBCBCB;
    padding: 10px;
    border-radius: 5px;
    height: 150px;
}
.levelSqure{
    
}
.High {
    background-color: #ff0000;
    height: 50%;
    width: 50%;
    border-radius: 8px;
    display: block;
    position: relative;
    margin: auto;
}

.Medium {
    background-color: yellow;
    height: 50%;
    width: 50%;
    border-radius: 8px;
    display: block;
    position: relative;
    margin: auto;
}

.Low {
    background-color: green;
    height: 50%;
    width: 50%;
    border-radius: 8px;
    display: block;
    position: relative;
    margin: auto;
}