<div class="border rounded container">
    <div class="row">
        <div class="col-10">
            <div class="p-2 mt-3 mb-2 bg-primary text-white text-center border rounded">Allocated Resource Information
            </div>
        </div>
        <div class="col-2">
            <button class="border btn shadow-none bd-highlight shadow p-2 mb-3 w-100 mt-3 Hover">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>

    <div>
        <div class="col rounded border border-4 ms-2 p-3 mb-2 text-center">
            <i class="bi bi-person"></i>
            <div>{{ resourceDetails.resourceId }}</div>
            <div class="text-primary">{{ resourceDetails.resourceName }}</div>
            <div class="text-black-50">{{ resourceDetails.job_role?.roleName }}</div>
        </div>
    </div>

    <div class="row mb-1" *ngFor="let task of tasks; let i = index">
        <div class="col-4 text-center">{{ task.projectName }}</div>
        <div class="col-3 ms-1 text-center">{{ task.taskName }}</div>
        <div class="col-2 text-center">{{ task.taskAllocationPercentage }}</div>
        <div class="col-2 text-center">
            <button type="button" class="btn btn-outline-danger" (click)="handleDeleteTask(task.resourceAllocationId, i)">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
    
</div>