<div class="border rounded container">
  <div class="row">
    <div class="col-11">
      <div class="p-2 mt-3 mb-2 bg-primary text-white text-center border rounded">Allocated Resource Information
      </div>
    </div>
    <div class="col-1">
      <button class="border btn shadow-none bd-highlight shadow p-2 mb-3 w-100 mt-3" (click)="deleteContent()">
        <i class="bi bi-x"></i>
        </button>
    </div>
  </div>

  <div>
    <div class="col rounded border border-4 ms-2 p-3 mb-2 text-center">
      <i class="bi bi-person-circle fa-2x"></i>
      <div>{{ resourceDetails.resourceId }}</div>
      <div class="text-primary">{{ resourceDetails.resourceName }}</div>
      <div class="text-black-50">{{ resourceDetails.job_role?.roleName }}</div>
    </div>
  </div>

  <div class="row mb-1" *ngFor="let taskInfo of tasksWithProjectInfo; let i = index">
    <!-- Display project name -->
    <div class="col-4 text-center">{{ taskInfo.projectName }}</div>
    <!-- Display task name -->
    <div class="col-3 ms-1 text-center">{{ taskInfo.taskName }}</div>
    <!-- Display resource allocation percentage -->
    <div class="col-2 text-center">{{ taskInfo.percentage }}%</div>
    <!-- Display a delete button -->
    <div class="col-2 text-center">
      <button type="button" class="btn btn-outline-danger" (click)="openDeletePopup(taskInfo.resourceAllocationId, i)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <div *ngIf="isDeletePopupVisible">
    <app-delete-sprint-popup (confirmDelete)="confirmDeleteTask()" (cancelDelete)="cancelDeleteTask()"></app-delete-sprint-popup>
  </div>

  <div class="d-flex justify-content-center mb-2 mt-2">
    <button class="btn btn-outline-primary Hover" type="button"
      routerLink="/pages-body/sprint-management/sprintmgt/{{sprintId}}/UpdatePercentage/{{sprintId}}/{{resourceId}}">Add
      new
      Percentage</button>
  </div>
  <div class="d-flex justify-content-center mb-2 mt-2">
    <button class="btn btn-outline-primary Hover" type="button"
      routerLink="/pages-body/sprint-management/sprintmgt/{{sprintId}}/UpdateTask/{{sprintId}}/{{resourceId}}">Change
      Task</button>
  </div>

</div>

<router-outlet></router-outlet>