
.btn-listmenu{
    background-color: #1E3895;
    color: #FEFEFE;
    width: 250px; /* Set the width for desktop */
    height: 40px;
    font-family: Montserrat;
    font-weight: bold;
}

.label-project{
    background-color: #7752FE;
    color: #FEFEFE;
    width: 100%; /* Set the width for desktop */
    height: 40px;
    font-family: Montserrat;
    font-weight: bold;
    cursor: default; /* Disable the cursor for a non-clickable appearance */
    user-select: none;
    display: inline-block;
    pointer-events: none;
    margin-bottom: 2%;
    margin-top: 2%;
}

.button-project{
    color: #7752FE;
    border: solid 1.5px #7752FE;
    font-weight: semibold;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
}

.addproject{
    color: #7752FE;
    border: solid 1.5px #7752FE;
    font-weight: semibold;
    width: 100%;
    margin-top: 3%;
}

.addproject:hover{
    color: #FEFEFE;
    background-color: #1E3895;
    font-weight: semibold;
    border: solid 1px #7752FE;

}
.button-project-addproject:hover{
    color: #FEFEFE;
    background-color: #1E3895;
    font-weight: semibold;
    border: solid 1px #7752FE;

}



.button-project:hover{
    color: #FEFEFE;
    background-color: #1E3895;
    font-weight: semibold;
    border: solid 1px #7752FE;
}

.btn-listmenu:hover{
    background-color:  #1E3895;
    color: #FEFEFE;
}

.btn-costom{
    background-color: #C2D9FF;
    color: #7752FE;
    font-family: Montserrat;
    width: 100%; /* Set the width for desktop */
    height: 40px;
    font-weight: semibold;   
}

.btn-costom:hover{
    background-color: #1E3895;
    color: #FEFEFE;
}



