
/* this is the form */
.formm {
    /* padding: 20px;
    padding-bottom: 5px;
    margin: 20px;
    margin-right: 10px; */
    /* width: fit-content; */
    color: #7752FE;
    /* display: inline-block; */
    padding: 2%;


}


/* buttons which used to display titles */
.new-team,
.new-resource{
    background-color: #7752FE;
    border: 2px solid #7752FE;
    border-radius: 8px;
    color: #FEFEFE;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-bottom: 2%;
    /* display: inline-block; */
    /* width: 350px;
    height: 39px;
    pointer-events: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */

 
}

/* p tags which used to name input fields */
.title-team,
.title-description{
    font-weight: bold;
}

/* div which carry labels and input feilds  */
.form-group {
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
    margin-left: 25px;
}

/* labels used to name input feilds */
label {
    display: inline-block; 
    width: 100px; 
    margin-right: 10px; 
    margin-bottom: 5px; 
}

/* submit button */
/* .submit-btn {
    border: 2px solid #C2D9FF ;
    border-radius: 4px;
    flex: 1; 
    padding: 8px; 
  } */

/* textarea */
/* textarea {
    flex: 1; 
    padding: 8px; 
    border: 2px solid #C2D9FF ;
    border-radius: 4px;
    
} */

/* submit button */
button[type="submit"] {
    display: block;
    /* margin: 0 auto; */
    width: 150px;
    padding: 10px; 
    margin-top: 10px;
    background-color: #1E3895;
    color: #FEFEFE;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}


 td {
    border: 1px solid #8691A833;
    text-align: center;
    color: #7752FE;
    
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
  
} */

.tbtn{
    background-color:  #C2D9FF;
    border: 1px solid #C2D9FF;
    border-radius: 4px;
    color: #190482;
    text-align: center;
    width: 100%;
    margin: 0;
    /* text-decoration: none; */
    /* display: inline-block; */
    /* width: fit-content; */
    /* height: fit-content; */
    /* margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 20px;
    padding-right:20px; */
   
}

/* .add-resource{
    background-color: #FEFEFE;
    border: 2px solid #7752FE;
    color: #7752FE;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    height: auto;
    padding: 10px; 
    display: block;
    margin: 0 auto;
    width: 150px;
    
} */

/* placeholder for input feilds */
::placeholder {
    color: #C2D9FF;
}

/* form validation input feild getting red */
input.ng-invalid.ng-touched {
    border: red 2px solid;
}

/* add resource id button */
.addResourceBtn{
    align-items: center;
    margin-left: 70px;
}

/* create team button */
.createTeamBtn{
    background-color: #FEFEFE;
    border: 2px solid #CBCBCB;
    border-radius: 8px;
    color: #7752FE;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    width: 188px;
    height: 39px;
    margin-top: 1px;
    margin-left: 80px;
    margin-right: 10px;
}

/* div for whole form and table */
.formBox{
    width: fit-content;
    height: 100%;  
    border: 1px solid #ccc;  
    margin: 10px;
    border-radius: 8px; 
}

.resourceTableBox{
    width: fit-content;
    height: 100%;  
    /* border: 1px solid #ccc;  
    margin: 10px;
    border-radius: 8px;  */

    
}

.box{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}


.tableinputfeild{
    background-color: none;
    width: 100px;
    border: none;
}

.updatebox{
    display: grid;
    grid-template-columns: auto auto;

}

.editbtn{
    border:1px solid #7752FE;
    border-radius: 2px;
    color:#7752FE;
    width: 50%;
    margin-left: 15%;
}
 
.deletebtn{
    border:1px solid red;
    border-radius: 2px;
    color:red;
    width:40%;
    margin-left: 35%;

}

.input{
    color:#7752FE;
}