<div class="container-fluid ">
  <div class="row">
    <div class="col-6">
      <form class="formm">
        <div>
          <button class="new-team btn btn-primary">Create New Team</button>
        </div>

        <div class="title-team">
          <p>Team Name:</p>
        </div>

        <div class="form-group">
          <label for="team-name">Name</label>
          <input type="text" class="form-control input" [(ngModel)]="teamData.teamName" name="teamName"
            placeholder="Enter Team Name">
        </div>

        <div class="title-description">
          <p>Description:</p>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control input" [(ngModel)]="teamData.description" name="description"
            placeholder="Enter Description">
        </div>
        <hr>

        <div>
          <button class="new-resource btn btn-primary btn-md">Team Resource List</button>
        </div>

        <!-- <table class="add-resource-table"> -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="col-4">
                <div class="tbtn">Resource Id</div>
              </th>
              <th scope="col" class="col-4">
                <div class="tbtn">Job Role</div>
              </th>
              <th scope="col" class="col-4">
                <div class="tbtn">Org. Unit</div>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let resource of teamData.selectedResources; let i = index">
            <tr>
              <td class="col-4">
                {{teamData.selectedResources[i].resourceName}}
              </td>
              <td class="col-4">
                {{teamData.selectedResources[i].role}}
              </td>
              <td class="col-4">
                {{teamData.selectedResources[i].OrgUnit}}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="addResourceBtn">
          <app-new-team-button [text]="'Add Resources ID'" (click)="toggleResourceTable()"></app-new-team-button>
        </div>
        <hr>

        <div>
          <input class="submit-btn btn btn-primary btn-md createTeamBtn" type="submit" value="Create Team">
        </div>
      </form>

      <hr>

      <div class="updatebox">
        <button class="btn editbtn" (click)="edit()">Edit</button>
        <button class="btn deletebtn" (click)="generalservice.showDialog=true">Delete</button>
        <!-- <pre>{{teamData|json}}</pre> -->
      </div>
    </div>
  
  <!-- <div class="resourceTableBox"> -->
  <div class="col-6">
    <app-resource-table *ngIf="showResourceTable"></app-resource-table>
  </div>
</div>
</div>


<!-- delete popup -->
<div>
  <app-delete-popup *ngIf="generalservice.showDialog"></app-delete-popup>
</div>