<div class="container-fluid">
  <div class="row">
    <div class="col-6 ">
        <form class="form border rounded p-2">
          <div>
            <button class="new-team btn border rounded text-center mb-2">
              Create New Team
            </button>
          </div>

          <div class="title-team">
            <p>Team Name:</p>
          </div>

          <div class="form-group align-items-center">
            <label for="team-name">Name</label>
            <input
              type="text"
              class="form-control input"
              [(ngModel)]="teamData.teamName"
              name="teamName"
              placeholder="Enter Team Name"
            />
          </div>

          <div class="title-description">
            <p>Description:</p>
          </div>

          <div class="form-group align-items-center">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control input"
              [(ngModel)]="teamData.description"
              name="description"
              placeholder="Enter Description"
            />
          </div>
          <hr />

          <div>
            <button class="new-resource btn border rounded text-center mb-2">
              Team Resource List
            </button>
          </div>

          <!-- <table class="add-resource-table"> -->
          <table class="table table-bordered mt-2">
            <thead>
              <tr class="border-0">
                <th scope="col" class="col-4 border-0">
                  <div class="tbtn border rounded text-center p-1">
                    Resource Id
                  </div>
                </th>
                <th scope="col" class="col-4 border-0">
                  <div class="tbtn border rounded text-center p-1">
                    Job Role
                  </div>
                </th>
                <th scope="col" class="col-4 border-0">
                  <div class="tbtn border rounded text-center p-1">
                    Org. Unit
                  </div>
                </th>
              </tr>
            </thead>
            <!-- changed here -->
            <tbody *ngFor="let resource of teamData.resources; let i = index">
              <tr>
                <td class="col-4">
                  {{ resource.id }}
                </td>
                <td class="col-4">
                  {{ resource.jobRole.role_name }} <!-- updated to access the role_name -->
                </td>
                <td class="col-4">
                  {{ resource.orgUnit.unit_name }} <!-- updated to access the unit_name -->
                </td>
              </tr>
            </tbody>
          </table>

          <div class="addResourceBtn col-6">
            <app-new-team-button
              [text]="'Add Resources ID'"
              (click)="toggleResourceTable()"
            ></app-new-team-button>
          </div>
          <hr />

          <div class="addResourceBtn col-6">
            <app-new-team-button
              [text]="'Create Team'"
              value="Create Team"
            ></app-new-team-button>
          </div>

          <hr />

          <div class="updatebox">
            <button class="btn editbtn" (click)="edit()">Edit</button>
            <button
              class="btn deletebtn"
              (click)="generalservice.showDialog = true"
            >
              Delete
            </button>
            <!-- <pre>{{teamData|json}}</pre> -->
          </div>
        </form>

      </div>

      <!-- <div class="resourceTableBox"> -->
      <div class="col-6">
        <app-update-resourc-table *ngIf="showResourceTable" ></app-update-resourc-table>
      </div>
    </div>
  </div>


<!-- delete popup -->
<div>
  <app-delete-popup *ngIf="generalservice.showDialog"></app-delete-popup>
  <router-outlet></router-outlet>
</div>
