  .custom-size {
    max-width: 100%; /* Set your desired maximum width */
    max-height: 25vh; /* Set your desired maximum height */
    width: 100%;
    height: auto; /* Maintain aspect ratio */ 
  }

  .background-container {
    width: 100%;
    height: 100%; /* Ensures the container covers the entire viewport */
    top: 0;
    left: 0;
  }

  .background-overlay {
    position: absolute;
    max-height: 25vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e1e1e37; /* Black overlay with 50% opacity */
    z-index: 1; /* Overlay should be above the image but below the content */
  }

  .position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
    z-index: 2;
  }

  .site-container {
    min-height: 100vh; /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-grow-1 {
    flex-grow: 1;
    overflow: hidden;
  }

  #white-div-container {
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    width: calc(100% - 40px);
    border-radius: 10px;
    /*inside content padding 10px*/
    padding: 10px;
    /* Adjust the height as necessary, or remove it to fit content */
    max-height: 75vh;
    margin-bottom: 75px;
    overflow-y: auto;
    display: flex;
    /* changes */
    height: 100vh;
  }



  #sidebar{
    width: 200px;
    height: 100%;
    background-color: black;
  }
  #contentContainer{
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
  }



  .logo {
    height: 60px; /* Adjust as needed */
    border-radius: 10px;
    max-width: 100%;
  }
  
  .title {
    color: white;
    margin: 0;
    font-size: 1.5rem; /* Adjust as needed */
  }
  
  .user-initials {
    background-color: white;
    color: #1E3895;
    /* padding: 10px 10px; */
    border-radius:8px; /* Adjust as needed for rounded corners */
    font-weight: bold;
    font-size: 1.2rem; /* Adjust as needed */
  }

  .box2{
    border: 4px solid #1E3895;
    border-radius: 10px;
    padding: 10px;
  }
  
  .box {
    background-color: #1E3895;
    border: 1px solid #1E3895;
    border-radius: 10px;
    padding: 10px;
  }
  
  .box h1 {
    color: white;
    text-align: right; /* Align center by default */
    margin-right: 40px; /* Reset margin-right to 0 */
    font-size: 1.8rem; /* Adjust as needed */
  }

  /* Footer Styles */
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 500;
    color: #04175A;
  }

  .hr-line{
    align-items: center;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    color: #A2A2A2;
    border-width: 2px;
  }

  .footer-text{
    line-height: 10px;
    margin-bottom: 13px;
    font-size: 0.9rem;
  }
    
  
  /* Responsive adjustments */
  @media (max-width: 992px) {
    .box h1 {
      font-size: 1.25rem; /* Adjust font size for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .box h1 {
      font-size: .7rem; /* Smaller font size for small screens */
    }
  
    .logo, .user-initials, .background-overlay {
      height: 40px; /* Adjust as needed */
      padding: 3px 3px; /* Adjust as needed */
    }
    
    /* Ensure the box containing the title takes full width */
    .bg-primary {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .footer {
      position: static;
    }
    .footer-text{
      font-size: 0.7rem;
    }
  }
  
  @media (max-width: 576px) {
    
    /* Stack logo and initials on small screens */
    .navbar-brand, .user-initials {
      flex: 0 0 auto;
      width: auto;
    }
  }
