<div class="position-relative">
    <img src="assets/image/backimage1.jpg" class="img-fluid custom-size" alt="Background Image">
    <div class="overlay-content position-absolute">
      <div class="container-fluid text-white py-2">
          <div class="row align-items-center justify-content-between">
            <div class="col-3 col-md-2 col-lg-1 d-flex justify-content-center">
              <img src="assets/image/Logo.jpg" alt="Tapro Technologies Logo" class="logo"> 
            </div>
            <div class="col-6 col-md-8 col-lg-10 text-center box">
              <h1 class="mb-0">TAPRO TECHNOLOGIES</h1>
            </div>
            <div class="col-3 col-md-2 col-lg-1 text-end d-flex justify-content-center">
              <span class="user-initials box2">RL</span>
            </div>
          </div>
      </div>
      <div class="white-div-container">
        <!-- Your white div content goes here -->
      </div>
    </div>
</div>
  