<!-- Header -->
<div class="site-container position-relative min-vh-100 d-flex flex-column">
  <div class="background-container position-fixed">
    <img src="assets/image/backimage1.jpg" class="img-fluid custom-size" alt="Background Image">
    <div class="background-overlay"></div>
  </div>
  <div class="overlay-content position-absolute">
    <div class="container-fluid text-white py-2 position-fixed">
      <div class="row align-items-center justify-content-between">
        <div class="col-3 col-md-2 col-lg-1 d-flex justify-content-center">
          <img src="assets/image/Logo.jpg" alt="Tapro Technologies Logo" class="logo">
        </div>
        <div class="col-6 col-md-8 col-lg-10 text-center box">
          <h1 class="mb-0">TAPRO TECHNOLOGIES</h1>
        </div>
        <div class="col-3 col-md-2 col-lg-1 text-end d-flex justify-content-center">
          <span class="user-initials box2">RL</span>
        </div>
      </div>
    </div>
    <div class="white-div-container">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
        <!-- Your white div content goes here -->
        <app-menulist></app-menulist>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10">col-8
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa molestiae corporis alias placeat laudantium
          nesciunt dignissimos quidem officia tempora deleniti, ut velit, asperiores quam et ipsum dolorum veritatis!
          Odio, quidem rem quisquam neque accusamus error excepturi quibusdam quam rerum ullam. Quis pariatur, est
          molestiae, assumenda asperiores voluptatem laborum laudantium praesentium accusamus architecto quibusdam
          sapiente adipisci in facere delectus nisi sint, labore nulla a debitis fugit dolorum temporibus recusandae!
          Temporibus, a atque. Culpa ad, qui dignissimos ex doloribus quibusdam, maxime temporibus laboriosam amet
          doloremque velit autem. Assumenda cumque sunt expedita provident exercitationem natus incidunt, quibusdam
          veniam accusamus quasi consequuntur mollitia voluptates, recusandae optio, nam soluta eius sit et maxime.
          Architecto, atque odio? Sed ratione sit impedit ad adipisci rem at quos repudiandae, reiciendis nesciunt, esse
          autem deserunt laudantium animi voluptatibus qui aliquam libero? Doloribus temporibus officia modi soluta cum
          nam nulla error culpa blanditiis ut obcaecati unde laborum corporis, totam recusandae labore voluptate veniam
          quod libero, minus consectetur? Porro minima nulla mollitia aliquam, possimus dicta esse placeat quae ipsum
          labore voluptas magni recusandae delectus maxime accusantium repudiandae. Necessitatibus blanditiis
          praesentium, vero est debitis obcaecati ullam nihil? Amet ipsum, deleniti, laboriosam cum praesentium
          voluptatibus sapiente in omnis expedita earum officiis quia explicabo suscipit? Architecto assumenda nostrum
          tempora. Totam animi eaque amet hic, veniam officiis quae quas saepe voluptatibus dignissimos voluptatem,
          obcaecati est quam facilis mollitia nihil rem, porro qui dolorum perspiciatis non reprehenderit pariatur
          nulla. Error, tempora quas laborum libero debitis quasi? Corporis odit accusamus rerum totam fuga tenetur
          expedita eligendi consectetur consequatur, distinctio ex voluptates quisquam, sequi nemo quaerat magnam, quia
          corrupti odio? Earum vitae officiis iusto facere temporibus provident nobis architecto ipsum maxime qui alias
          quo modi accusantium iure ducimus odio esse ex officia optio, id dolores voluptatem quas cupiditate? Minima
          minus tenetur fugit dicta, maxime corporis facilis enim atque totam, earum veritatis molestias ducimus in.
          Dolor facilis, cum eaque nulla natus minima vel reiciendis inventore atque repudiandae magnam provident, ipsum
          eligendi, possimus maiores facere ea labore tempora totam? Doloremque asperiores nisi officiis id dignissimos
          eveniet, quasi natus odio. Quam at blanditiis quibusdam. Voluptas, eveniet saepe. Repellendus labore
          reprehenderit laboriosam alias optio sequi reiciendis dignissimos ea ut in perspiciatis deserunt dicta nisi
          molestiae, autem voluptas quisquam debitis distinctio officia quos asperiores facilis! Qui, autem quaerat
          culpa odit similique nulla obcaecati natus doloremque mollitia vel et quisquam aut atque iure placeat
          dignissimos ut modi! Itaque ad soluta sequi eligendi eveniet neque, consequuntur maiores illum placeat.
          Eveniet tenetur, earum nam consequatur natus est minima dolore, rem, illo iste autem corrupti quis! Reiciendis
          quia consequatur eveniet molestias facilis in possimus perspiciatis architecto animi quis recusandae
          voluptatem maiores quam ducimus, nesciunt nisi temporibus ipsum. A sapiente quod qui accusamus eaque doloribus
          deleniti numquam laboriosam itaque! Vel ipsum quaerat laudantium dolor vitae animi eos optio molestias eius
          deleniti, nihil magnam temporibus! Quo expedita nisi quasi dicta enim nemo sequi doloremque quam, qui natus
          laborum molestiae amet reiciendis temporibus ipsam laudantium praesentium voluptatibus nam magni. Fuga aut
          molestias quis eveniet. Officia, doloremque suscipit! Reprehenderit ad eos impedit atque ullam repudiandae
          tempore sequi totam veritatis placeat. Asperiores quibusdam saepe explicabo nobis, molestiae ducimus? Sit
          neque obcaecati pariatur vitae accusantium aliquid magnam. Excepturi mollitia itaque, error porro quasi illo
          perferendis voluptas! Ullam tenetur ratione, at odit voluptatum expedita eligendi quis et pariatur iusto
          maxime ipsum asperiores alias impedit, possimus fugit voluptatem harum inventore nihil obcaecati enim, quam
          sed. A illo minus iure error, laboriosam ad nisi labore sequi dignissimos odit aliquam ea blanditiis tempora
          inventore et voluptatibus pariatur dolore at odio obcaecati omnis, ipsam excepturi suscipit natus? Sequi est
          provident numquam, quos quidem officiis nisi similique iure dolorem odio unde nobis dolorum iste omnis
          voluptates assumenda nihil consequuntur illum, temporibus maiores doloribus quas ex voluptate perspiciatis.
          Distinctio cum animi ipsam incidunt omnis, assumenda id quasi laboriosam quaerat laborum harum in quia ex
          cumque autem facere necessitatibus rerum maiores, nemo pariatur veniam odit. Ab omnis earum debitis veniam
          aliquid harum quidem, blanditiis provident quibusdam deserunt dolorum error tempore. Porro eveniet, ullam
          pariatur magni dolor provident non dolore repudiandae, harum voluptas optio. Ipsam numquam placeat obcaecati
          aliquid. Earum, eius? Corrupti in tenetur quis minima. Dolorem, quos quae quod voluptates obcaecati, ut
          recusandae neque vel dolore voluptate, placeat eum nostrum rem asperiores. Assumenda culpa quas architecto
          consequatur voluptatibus laboriosam voluptate nesciunt cum eum inventore nemo odio et ipsa vero totam
          cupiditate, mollitia, accusamus dignissimos dolore iste. Modi at possimus unde sunt repudiandae nemo molestias
          magnam quam, necessitatibus adipisci tempore deserunt vero mollitia provident? Est blanditiis eveniet quis
          sunt voluptatum, nihil illum inventore. Enim nihil quidem eius aliquam voluptatum quo dolores quas eligendi
          vel impedit perferendis molestias tempore ducimus deleniti ipsa molestiae, voluptate nostrum maxime neque
          repellat? Eum commodi neque ad fugit. Incidunt sint ex accusamus aliquid fugit. Fugiat sapiente, excepturi,
          deleniti repellendus et vitae repudiandae saepe numquam, libero sed modi incidunt quaerat sit aliquam
          pariatur! Dicta fugiat corrupti consequatur sequi laborum temporibus magni porro? Ex illo vitae excepturi
          tempore pariatur veritatis, nostrum esse ab accusantium ipsa maiores. Quisquam quis inventore nisi laboriosam
          quae voluptate qui est dolore, cumque iusto autem maiores natus suscipit ducimus cum repellendus facilis. Nam
          hic a ratione praesentium voluptatum saepe rem veritatis tempora fuga debitis maxime, labore dolores mollitia
          blanditiis possimus autem iure sequi aliquam deleniti esse minus fugit? Ipsa reiciendis repudiandae labore
          blanditiis quod? Saepe, modi maiores libero illum sit, consequuntur non quis magnam nemo dicta suscipit ipsa
          enim quisquam rem minima deleniti illo reprehenderit! Ullam quia modi facilis exercitationem nihil, in,
          deserunt deleniti maxime perferendis dolores placeat voluptates amet. Provident adipisci facilis ab expedita
          in corrupti repellendus non cumque laborum iste, maiores nulla eum autem temporibus, assumenda cum id? Esse,
          asperiores. Molestiae laboriosam aut dolore rerum autem odit, adipisci alias. Doloremque ipsa sequi libero
          facilis aut! Facilis dignissimos fugiat iure id fugit non aliquam! Fugit impedit optio, nemo at animi
          laudantium in provident ullam, unde quas aliquid possimus nobis voluptas reprehenderit. Praesentium excepturi
          quidem temporibus pariatur earum, molestias, deserunt animi nihil laudantium tempore libero recusandae ipsum
          repellendus autem. Omnis sequi atque molestias numquam, asperiores natus?
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer mt-auto text-center container-fluid" style="background-color: #FEFEFE;">
    <hr class="hr-line pt-0" />
    <div class="footer-text">
      © 2020-2024 Tapro Technology, Inc. All rights reserved
    </div>
  </footer>
</div>