.formBox {
    width: 100%;
    float: right;
    padding-bottom: 10px;
    border: 1px #ced2d9 solid;
    border-radius: 5px;
}

.topic {
    background-color: #7752fe;
    padding: 5px;
    text-align: center;
    width: 80%;
    margin: 3% auto;
    color: white;
    border-radius: 5px;
}

.form-group p {
  display: inline;
}

.editButton {
    /* padding : 2px 100px;  */
   width: 40%;
   color: #7752fe;
   background-color: white;
   border: rgb(203, 203, 203) 1px solid;
   border-radius: 5px;
   margin:0 5%;
   padding: 5px;
   display: inline-block;
}

.deleteButton {
        /* padding : 2px 100px;  */
   width: 40%;
   color: red;
   background-color: white;
   border: red 1px solid;
   border-radius: 5px;
   margin:0 5%;
   padding: 5px;
   display: inline-block;
}

.editButton:hover  {
    transition: 0.5s;
   background-color: #04175a;
   color: white;
}

.deleteButton:hover {
    transition: 0.5s;
    background-color: red;
    color: white;
}

.editButton {
    float: left;
}

.deleteButton {
    float: right;
}

.details {
    /* display: flex; */
    border: #c3c0ce 1px solid;
    padding: 5% 0;
    border-radius: 5px;
    margin: 2%;
}

.font-color1{
    color: #1e3895e1;
    font-weight: 500;
    margin-left: 7%;
}

.detailButton {
    float: inline-end;
    /* margin-right: 7%; */
    width: 60%;
    border: 1px solid #cbcacd;
    background-color: white;
    border-radius: 5px;
    color:rgba(0, 0, 255, 0.575);
    font-weight: 400;
    /* color: #7752fe; */
    /* display: inline; */
    margin: 0 5px; /* Add space around buttons */
    padding: 5px 10px; /* Add padding to buttons */
    /* display: inline-block; Ensure buttons are displayed in a line */
}


/* Adjust the width of the detailButton based on the screen size */
@media screen and (max-width: 768px) {
    .detailButton {
        flex-basis: 100%; /* Set the flex basis to 100% on smaller screens */
    }
}
