<div class="border rounded container">

  <div class="p-2 mt-3 mb-2 bg-primary text-white text-center border rounded rounded">Added
    Resource List</div>

  <div >
    <table class="table table-bordered table-striped table-sm">
      <!-- Table header -->
      <thead class="thead-dark fs-6 fst-normal">
        <tr >
          <th class = "text" *ngFor="let head of HeadArray">{{ head }}</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>

        <ng-container *ngFor="let items of tablecontents">
          <tr>
            <td *ngFor="let head of HeadArray">{{ items[head] }}</td>
          </tr>
        </ng-container>
      </tbody>
      
    </table>