<div class="border rounded container">

  <div class="p-3 mt-3 bg-primary text-white text-center border rounded">Added
    Resource List</div>

  <div class="table-responsive">
    <table class="table text spacing table-hover">
      <!-- Table header -->
      <thead>
        <tr>
          <th class="headingblock" *ngFor="let head of HeadArray">{{ head }}</th>
        </tr>
      </thead>
      <!-- Table body -->
      <tbody>

        <ng-container *ngFor="let items of tablecontents">
          <tr>
            <td *ngFor="let head of HeadArray">{{ items[head] }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>