
.boxclr {
  background-color: #7752fe;
}

.text {
  text-align: center;
  font-size: 16px; /* Adjust font size based on your design */
  font-family: Montserrat;
  border-style: hidden;
  outline: none;
}
