th {
    background-color: #c2d9ff;
    width: 94.25px;
    border-radius: 6px;
    border: 2px solid white;
  }

  td{
    color: #7752fe;
    font-size: 12px;
    font-family: Montserrat;
    background-color: white;
    border: 1px solid rgba(134, 145, 168, 0.2);
    
  }

.table-borderless > thead > tr > th {
    border: none;
    
}

.table-hover tbody tr:hover > td {
  background-color: #1E3895;
  color: white;
}
  
.text5 {
    color: #190482;
    text-align: center;
    vertical-align: text-middle;
    font-size: 12px;
    font-family: Montserrat;
    border-style: hidden;
    outline: none;
  }

  .spacing {
    border-collapse: separate;
    border-spacing: 0 2px;
  }