<div class="border rounded mt-3 p-2 background-animated">
  <div class="card bg-glass p-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 justify-content-center align-items-center d-flex flex-column">
          <div>
            <p class="display-6 fw-bold justify-content-start mb-0" style="color: hsl(220, 97%, 64%)">Welcome</p>
            <p class="display-6 fw-bold justify-content-start mt-0 " style="color: hsl(220, 73%, 50%)">Resource Portfolio Management System</p>
          </div>
          <p class="opacity-70" style="color: hsl(219, 78%, 33%)">
            We're thrilled to have you back! Dive into your projects, track progress, and collaborate with your team seamlessly. Let's achieve great things together!
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <img src="assets/image/1.png" class="img-fluid" alt="Welcome">
        </div>
      </div>
    </div>
  </div>
</div>