
.formBox {
    padding-left: 2%;
    padding-right: 2%;
}

.form-label {
    color: #1e3895e1;
    font-weight: 500;
    font-size: 0.9rem;
}

/* ::placeholder {
  color: #c3c0ce;
} */

.form-group label {
    display: block;
}

.form-group .form-control,
.form-group .form-select {
  display: inline;
  font-size: 0.9rem;
}

.form-group .form-control,
.form-group .form-select {
  width: 75%;
}

.form-group .form-label {
  margin-right: 20px;  
} 

.form-select .selected {
  opacity: 0.5;
}
.custom-button {
  border-color: #1E3895;
}

.custom-button:hover {
  background-color: #1E3895;
}

.inputField {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  color: #7752fe;
}

.invalid-feedback {
  display:block;
  width: 100%;
  text-align: right;
}
