<div class="container col-md-10 col-lg-10">
    <div class="formBox mt-3 pb-3">
        <div class="border rounded text-center col-12 mb-3 mt-3 pt-1 pb-1 text-white bg-primary">Create New Unit</div>
        <form [formGroup]="unitForm">
            <div class="form-group mb-3">
                <br>

                <div class="inputField d-flex justify-content-center">
                    <label for="unitName" class="form-label">Unit Name: </label>
                    <input type="text" class="form-control" formControlName="unitName"
                    [ngClass]="{'is-invalid': unitForm.controls['unitName'].invalid && unitForm.controls['unitName'].touched}" 
                    id="unitName" placeholder="Enter Unit Name" (keyup)="capitalizeFirstLetter()">
                </div>
            </div>
            <div class="form-group mb-3">

                <div class="inputField d-flex justify-content-center">
                    <label for="parentUnit" class="form-label">Parent Unit: </label>
                    <select class="form-select" formControlName="parentId"
                    [ngClass]="{'is-invalid': unitForm.controls['parentId'].invalid && unitForm.controls['parentId'].touched}" 
                    id="parentUnit">
                        <option disabled selected value="">Select Parent Unit</option>
                        <option *ngFor="let unit of orgunits" [value]="unit.unitId">{{unit.unitName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="inputField d-flex justify-content-center">
                    <label for="description" class="form-label">Description: </label>
                    <textarea name="description" class="form-control" formControlName="description" 
                    [ngClass]="{'is-invalid': unitForm.controls['description'].invalid && unitForm.controls['description'].touched}"
                    id="description"
                        cols="50" rows="5" placeholder="Add a description"></textarea>
                </div>
            </div>
            <div class="add d-flex justify-content-center">
                <button type="submit" class="addButton" (click)="sendData(this.unitForm.value)">Add Unit</button>
            </div>
        </form>
    </div>
</div>
