body {
    background-image: url('/assets/image/Rectangle 130.png');
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#maindiv {
    width: 90%;
    max-width: 1176px;
    height: auto;
    padding: 5%;
    background: #C2D9FF;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 10%;
}

#logo {
    width: 100%;
    max-width: 314px;
    height: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
}


#key {
    width: 50%;
    max-width: 128px;
    height: auto;
    margin-top: 5%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #maindiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #logo,
    #key {
        width: auto;
        max-width: none;
        height: 100%;
    }

    
    .col-md-border:not(:last-child) {
        border-right: 1px solid #1E3895;
    }
    .col-md-border + .col-md-border {
        border-left: 1px solid #1E3895;
        
    }

    form {
        margin-left: 15%;
        
    }
}

h1{
    color: #FFF;
font-family: Montserrat;
font-weight: 700;
line-height: normal;
}

.text1,
.text2,
.text3,
h1 {
    text-align: center;

    

}

.box1,
.box2 {
    width: 100%;
    max-width: 374px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
}

.box2 {
    width: 100%;
    max-width: 374px;
    height: 48px;
    background-color: #1E3895;
    border-radius: 10px;
    color: #FFF;
}

/* Media query for small screens */

@media only screen and (max-width: 600px) {
    #logo {
        max-width: 80%; /* Adjust the maximum width as needed for small screens */
        border-radius: 15px; /* Adjust border radius for small screens */
    }
}

