
body {
    background-image: url('/assets/image/backimage1.jpg');
  }
  
#maindiv {
      width: 1176px;
      height: 634px;
      padding: 50px;
      margin: 20px;
      background: #C2D9FF;
      flex-shrink: 0; 
      border-radius: 25px
}

#logo{
    width: 314px;
    height: 307px;
    flex-shrink: 0; 
    display: block;
    /* margin-top: auto;
    margin-bottom: auto; */

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}  

@media (min-width: 992px) {
    .col-md-border:not(:last-child) {
        border-right: 1px solid #1E3895;
    }
    .col-md-border + .col-md-border {
        border-left: 1px solid #1E3895;
        margin-left: -1px;
    }
}

#text1{
    color: #1E3895;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#text2{
    color: #1E3895;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal; 
}