+<body>
    <div id="maindiv">


         <div class="container">
            <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-border">
                    <div id="navigation">
                        <img id="logo" src="/assets/image/Logo.jpg" alt="logo" class="center" />
                    </div>           
                </div>
                <div class="col-xs-6 col-sm-6 col-md-border">
                    <div class="center">
                        <p id="text1">Forgot Password?</p>
                        <p id="text2">Enter your emails to send password reset link</p>
                        <form>
                            <div>
                                <label id="text2">Email</label><br>
                                <input type="email" formControlName="email" placeholder="Enter your email"/>
                            </div>
                            <div>
                                <br>
                                <button type="submit">Send Password Reset Link</button>
                            </div>
                        </form>
                    </div>
                    
                </div>      
            </div>
            </div>
            

         
        
    </div>

    <h1>TAPRO TECHNOLOGIES</h1>
    
</body>
