<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="table-container">
                <div>
                    <div class="heder-label">Project List</div>
                </div>
                <div class="table-data"> 
                    <div *ngFor="let project of data " class="btns">
                        <button class="btn btn-costom" routerLink="projectTaskDetails/{{project.projectid}}"
                            routerLinkActive="active">{{project.projectName}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
    </div>
</div>  
 
