.sidebar {
  /* display: flex; */
  width: 0;
  background-color: white;
  transition: width 0.1s ease-in-out;
  padding: 0;
  height: 100%;
}

.sidebarActive {
  width: 16vw;
  padding-top: 10px;
  border-right: 1px double #CBCBCB;
  box-shadow: 0px 2px 10px #CBCBCB;
  /* overflow-y: scroll; */
}

/* .sidebarActive::-webkit-scrollbar {
  display: none;
} */

.Menu-Labal {
  background-color: #7752FE;
  color: #FEFEFE;
  width: 95%;
  height: 40px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 2%;
  padding: 3%;
}

.menu-button {
  width: 95%;
  /* Set the width for desktop */
  height: 40px;
  font-weight: bold;
  background-color: #fefefe;
  border: .5px solid #7752FE;
  border-radius: 10px;
  color: #7752FE;
  margin-top: 3%;
  margin-left: 2%;
  content: fit-content;


  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  /* Add transition effect */

  /* Add subtle elevation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Add padding */
  padding: 0 15px;

  /* Center text vertically */
  line-height: 40px;

  /* Cursor pointer to indicate interactivity */
  /* cursor: pointer; */
  /* Ensure text fits within the button */
  white-space: nowrap;
  /* Prevent wrapping */
  overflow: hidden;
  /* Hide overflow text */
  text-overflow: ellipsis;
  /* Show ellipsis for overflow text */
}

.menu-button:hover {
  background-color: #7752FE;
  color: #FEFEFE;
}

li {
  list-style-type: none;

}


.listmenu-line {
  margin-top: 9px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 10px #CBCBCB;
}

@media only screen and (max-width: 768px) {
  .sidebarActive {
    position: absolute;
    z-index: 5;
    height: calc(75vh - 20px);
    width: 200px;
    overflow-y: auto;

  }
}

@media (max-width: 575.98px) {
  /* Styles for screens less than 576px wide (xs) */
  .menu-button {
      font-size: 0.8rem;
  }
}
@media (min-width: 576px) {
  /* Styles for screens equal to or greater than 576px wide (sm) */
  .menu-button {
      font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  /* Styles for screens equal to or greater than 768px wide (md) */
  .menu-button {
      font-size: 0.9rem; 
  }
}
@media (min-width: 992px) {
  /* Styles for screens equal to or greater than 992px wide (lg) */
  .menu-button {
      font-size: 1.0rem;
      line-height: .95;
  }
}
@media (min-width: 1200px) {
  /* Styles for screens equal to or greater than 1200px wide (xl) */
  .menu-button {
      font-size: .9rem;
      line-height: .98;
  }
}