.sidebar {
    display: flex;
    width: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
    padding: 0;
    height: 100%;
  }
   
.sidebarActive{
    width: 300px;
    padding: 10px;
}
   