<div class="sidebar" [ngClass]="{ 'sidebarActive': sidebarActivee }">
    <div class="Menu-Labal">Menu List</div>
    <hr class="listmenu-line">
    
    <li><button class="menu-button" (click)="selectHeaderName('Project Dashboard')">Project Dashboard</button></li>
    <li><button class="menu-button">Resource Management</button></li>
    <li><button class="menu-button">Org. Unit Management</button></li>
    <li><button class="menu-button">Calendar Management</button></li>
    <li><button class="menu-button">Team Management</button></li>
    <li><button class="menu-button">Project Management</button></li>
    <li><button class="menu-button">Update Task Progress</button></li>
    <li><button class="menu-button">Sprint Management</button></li>
    <li><button class="menu-button">Handle Request</button></li>
</div>
