<div class="container-fluid ">
  <div class="row no-gutters">
    <div class="col-12 border rounded p-2">
      <div>

        <div class="grid-container-gc-btn mt-2 mb-2 d-flex justify-content-center">
          <button class="btn btn-outline-primary btn-sm custom-button w-75" (click)="accessCalenderAdd()">Add New
            Leave</button>
        </div>

        <div class="grid-container-gc-addbox ">
          <div class="border rounded col-12 mb-2 d-flex justify-content-center" *ngIf="showCalenderAdd">
            <app-common-calender [actionType]="'add'" [holidayType]="'resource'" [resourceId]="resourceId"
              (resourceAddEvent)="onAddEvent($event)"></app-common-calender>
          </div>
        </div>

        <div class="grid-container-gc-btn d-flex justify-content-center ">
          <button class="btn btn-outline-primary btn-sm custom-button w-75 mb-1" (click)="accessCalenderEdit()">Edit
            Leaves</button>
        </div>

        <div class="grid-container-gc-editbox">
          <div class="border rounded col-12 mb-2 d-flex justify-content-center" *ngIf="showCalenderEdit">
            <app-common-calender [actionType]="'edit'" [holidayType]="'resource'"
              [resourceId]="resourceId"></app-common-calender>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>