.unitList {
  border: 1px #ced2d9 solid;
  border-radius: 5px;
  padding-bottom: 1%;
  margin-left: 1%;
}

.unit-button {
  width: 100%;
  height: 40px;
  font-weight: 500;
  background-color: #fefefe;
  border: .5px solid #b4a0ff88;
  border-radius: 10px;
  color: #1e3895;
  margin-top: 3%;
  content: fit-content;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.unit-button:hover,
.unit-button:active {
  background-color: #1e3895;
  color: #FEFEFE;
}

.unitTree {
  /* margin-left: 7%; */
  display: inline-block;
  border: 1px #ced2d9 solid;
  border-radius: 5px;
  padding: 2% 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.addButton {
  border-color: #1E3895;
  color: #1E3895;
  width: 100%;
}

.addButton:hover {
  background-color: #1E3895;
  color: #FEFEFE;
}

.addButton:active {
  background-color: #1E3895;
  color: #FEFEFE;
}

/* Styles for screens 768px or smaller */
@media screen and (max-width: 768px) {
  .unitTree {
    /* margin-left: 7%; */
    display: inline-block;
    width: 100%;
    /* margin: 0 auto; */
  }
}

.small-text {
  font-size: 0.75rem;
}