<app-spinner></app-spinner>
<div class="container-fluid">
    <div class="row">
        <div class="unitList col-md-2 col-lg-2 col-sm-12 mt-3">
            <div class="table-container">
                <div class="d-flex justify-content-center mt-2">
                    <div class="border rounded text-center col-10 mb-3 mt-1 pt-1 pb-1 text-white bg-primary ">Unit List
                    </div>
                </div>
                <div class="">
                    <!-- search box -->
                    <input type="search" [(ngModel)]="searchText" id="form1" class="form-control" placeholder="Search by Name"
                        aria-label="search">
                </div>

                <div class="table-data">
                    <div *ngFor="let unit of orgunits | search: searchText">
                        <button class="btn unit-button" routerLink="unit-details/{{unit.unitId}}" (click)="showUnitDetails(unit)"
                        routerLinkActive="active">{{unit.unitName}}</button>
                    </div>
                </div>

                <div>
                    <button class="btn btn-outline mt-2 addButton" routerLink="unit-form" routerLinkActive="active" (click)="showcomponent()">Add New Unit</button>
                </div>
            </div>
        </div>

        <div class="unitForms col-md-9 col-lg-9 col-sm-12">
            <router-outlet></router-outlet>
            <div class="unitTree mt-3">
                <app-unit-tree></app-unit-tree>
            </div>
            
        </div>

    </div>

</div>