
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="table-container">
                <div>
                    <h6>Unit List</h6>
                </div>

                <div class="table-data">
                    <div *ngFor="let unit of orgunits " class="btns">
                        <button class="btn unit-button" (click)="showUnitDetails(unit)">{{unit.unitName}}</button>
                    </div>
                </div>

                <div>
                    <button class="addButton" (click)="showcomponent()">New Unit</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<app-unit-form *ngIf="showForm"></app-unit-form>
<app-unit-details *ngIf="selectedUnit" [unit]="selectedUnit"></app-unit-details>