<div class="border rounded">
  <div class="row mb-5">
    <div class="col-11">
      <div class="p-2 mt-3 mb-2 bg-primary text-white text-center border rounded">{{ sprintName }}</div>
    </div>
    <div class="col-1">
      <button class="border btn shadow-none bd-highlight shadow p-2 mb-3 w-100 mt-3" (click)="CloseTab()">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col">
      <div class="fw-bold border rounded p-2 text-center">
        <i class="bi bi-calendar"></i>
        <div class="text">Start Date</div>
        <div class="text-primary">{{ startDate }}</div>
      </div>
    </div>
    <div class="col">
      <div class="fw-bold border rounded p-2 text-center">
        <i class="bi bi-calendar"></i>
        <div class="text">End Date</div>
        <div class="text-primary">{{ endDate }}</div>
      </div>
    </div>
  </div>

  <app-added-resource-list [HeadArray]="hArray" [tablecontents]="resources"></app-added-resource-list>

  <br />

  <div class="row mb-2">
    <div class="col">
      <div class="d-grid gap-2 col-6 mx-auto border rounded">
        <button class="btn btn-outline-primary " type="button">Edit Sprint</button>
      </div>
    </div>
    <div class="col">
      <div class="d-grid gap-2 col-6 mx-auto border rounded">
        <button class="btn btn-outline-danger " type="button" routerLink="deleteSprint/{{ sprintName }}">Delete
          Sprint</button>
      </div>
    </div>
  </div>


</div>

<router-outlet></router-outlet>