<div class=" border rounded container">
    <div class="row mb-5">
        <div class="col-10">
            <div class=" rounded text-white text-center boxclr bd-highlight shadow p-3 w-100 text2 mt-3  ">Sprint 05</div>
        </div>
        <div class="col-2">
            <button class="border btn shadow-none bd-highlight  shadow p-3 mb-3 w-100 mt-3  " (click)="CloseTab()"><img src="assets/image/cross.png"/></button>
        </div>
      </div>
 
      <div class="row mb-5">
        <div class="col ">
            <div class="mx-auto border rounded p-3 text5 fw-bold">Start Date - 2024/01/01</div>
        </div>
        <div class="col">
            <div class="mx-auto border rounded p-3 text5 fw-bold">End Date - 2024/01/01</div>
            
        </div>
      </div>
      <!-- <app-added-resource-list [headArray]="headArray"
[gridArray]="resources" ></app-added-resource-list> -->


  <div>
    <div class="float-start"><button class="btn btn-primary text5 fw-bold" type="button"> Edit Sprint </button></div>
    <div class="float-end"><button type="button" class="btn btn-outline-danger text6 fw-bold">Delete Sprint</button></div>
  </div>

</div>