.form {
    color: #1e3895e1;

}

.error-message {
    color: red;
    font-size: 12px;
  }

.form-group {
    margin-bottom: 1%; 
    display: flex; 
    margin-left: 1%;
    
   
}

.new-team,
.new-resource{
    background-color: #7752FE;
    border-color: #7752FE;
    color: #FEFEFE;
    width: 100%;
    pointer-events: none;
}

.title-team,
.title-description{
    font-weight: bold;
}

.tn-input{
    width: 70%;
}

.d-input{
    width: 65%;

}


th{
    color: #1e3895e1;
    font-weight: 500;
}

td{
    color:rgba(0, 0, 255, 0.575);
    font-weight: 300;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #3b5edd;
    color: white;
    cursor: pointer;
}

.addResourceBtn{
    margin-left: 20%;
    
}

input::placeholder, 
textarea::placeholder {
    opacity: .6; 
}

input.ng-invalid.ng-touched {
    border: red 2px solid;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.custom-button {
    border-color: #1E3895;
  }
  
  .custom-button:hover {
    background-color: #1E3895;
  }  




