<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12 col-md-6 ">

      <!-- display team form  -->
      <form [formGroup]="teamForm" class="form border rounded p-2 ">

        <div>
          <div class="border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">Create New Team</div>
        </div>

        <div class="form-goup row-label mb-2">
          <label class="pm-label fw-medium mb-2" for="teamName">Team Name:</label>
          <div class="form-group row row-label">
            <div class="form-group align-items-center">
              <label for="teamName" class="text-primary">Name</label>
              <input type="text" class="form-control " id="formGroupExampleInput1" placeholder="Enter Team Name"
                formControlName="teamName">
            </div>
          </div>
        </div>

        
        <div class="form-goup row-label mb-2">
          <label class="pm-label fw-medium mb-2" for="Description">Description:</label>
          <div class="form-group row row-label">
            <div class="form-group align-items-center">
              <label for="description" class="text-primary">Description</label>
              <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Enter Description"
                formControlName="description">
            </div>
          </div>
        </div>

        <hr>

        <div>
          <div class="border rounded text-center col-12 mb-3 mt-1 pt-1 pb-1 text-white bg-primary">Team Resource List
          </div>
        </div>

        <!-- tabel to display selected resources for the team -->

        <div class="table-responsive-sm  table-responsive-md table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm">

          <thead class="thead-dark fs-6 fst-normal">
            <tr class="border-0">
              <th scope="col" class="col-4 border-0">
                <div class="tbtn border rounded text-center p-1">Resource Id</div>
              </th>
              <th scope="col" class="col-4 border-0">
                <div class="tbtn border rounded text-center p-1">Job Role</div>
              </th>
              <th scope="col" class="col-4 border-0">
                <div class="tbtn border rounded text-center p-1">Org. Unit</div>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let selectedResource of selectedResources" class="border text-center">
              <td class="col-4 border text-center">{{ selectedResource.resourceId }}</td>
              <td class="col-4 border text-center">{{ selectedResource.roleName}}</td>
              <td class="col-4 border text-center">{{ selectedResource.unitName}}</td>

            </tr>
          </tbody>

        </table>
        </div>

        <div class="addResourceBtn col-6">
          <app-new-team-button [text]="'Add Resources ID'" (click)="toggleResourceTable()"></app-new-team-button>
        </div>

        <hr>

        <div class="addResourceBtn col-6">
          <app-new-team-button [text]="'Create Team'" value="Create Team"
            (click)="onFormSubmit()"></app-new-team-button>
        </div>

      </form>

    </div>


    <!-- display resource table to select resources for the team -->
    <div class="col-12 col-md-6">
      <app-resource-table *ngIf="showResourceTable"></app-resource-table>
    </div>
  </div>

</div>