<div class="row mb-1" *ngFor="let task of tasks; let i = index">
    <div class="col-4 text-center">{{ task.projectName }}</div>
    <div class="col-3 ms-1 text-center">{{ task.taskName }}</div>
    <div class="col-2 text-center">{{ task.taskAllocationPercentage }}</div>
    <div class="col-2 text-center">
        <button type="button" class="btn btn-outline-danger" (click)="handleDeleteTask(task.resourceAllocationId, i)">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

