.table-container{
    width: 100%;
    height: inherit;
    margin-left: 20%;
    border: solid 1px #ccc;
}
th, td {
    padding: 8px; /* Padding for content spacing */
    text-align: left; /* Text alignment within cells */
  }
.table-borderless{
    border: none;
    height: 300px;
    overflow: auto;
} 