<div class="container-fluid">

    <div class="table-container">
        <div>
            <app-project-buttuns [btnClss]="'label-project'" [text]="'Project List'"></app-project-buttuns>      
        </div>
        
        <div class="table-data">
            <div *ngFor="let project of data " class="btns">   
                <button class="btn btn-costom" routerLink="/updatePoject/{{project.id}}">{{project.projectName}}</button>
            </div>
        </div>

       <div>
        <button class="btn addproject">Add New Project</button>
       </div>
        
    </div>

</div>