<!-- Background Image -->
<div class="background-wrapper">
    <img src="assets/image/backimage1.jpg" class="img-fluid" alt="Background Image">
</div>
<!-- page content  -->
<div class="container mt-5 mb-5" style="width: 100%;">
    <div class="pt-5 pb-5 container" style="background-color: #f3f8ff; border-radius: 8px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center col-md-border">
                <div class="text-center container">
                    <img src="assets/image/taprologo.png" class="logo" alt="Tapro Logo" >
                </div>
            </div>
            <div class=" col-md-6 d-flex col-md-border flex-column pt-3 pb-3">
                <div class="cntainer text-center ">
                    <div>
                        <img id="key" src="/assets/image/User-Profile.png" alt="logo" class="logo" />
                        <p class="fs-4 fw-bold text-color">Log In</p>
                        <p class="fs-6 fw-medium text-color lh-1"> Please Log In to your Account</p>
                        <div class="text-start container-sm text-color px-5">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label fw-medium">User Name</label>
                                <!-- Email Input -->
                                <input type="email" class="form-control" #exampleFormControlInput1 [value]="user.user_email" (change)="user.user_email = exampleFormControlInput1.value" placeholder="Enter your email" required>
                            </div>
                            <label for="inputPassword5" class="form-label fw-medium">Password</label>
                            <input type="password" #inputPassword class="form-control" [value]="user.password" (change)="user.password = inputPassword.value" placeholder="Password" required>
                            <div class="text-center">
                                <p><a routerLink="/forgot-password" class="fw-normal text-color justify-content-center link-offset-2 link-underline link-underline-opacity-0">Forgot Your Password ?</a></p>
                            </div>
                            <div class="d-grid gap-2 ">
                                <button class="btn btn-outline-color" (click)="login()">Log In</button>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer company name -->
<div>
    <p class="text-center text-uppercase fs-1 fw-bold" style="color: #ffffff;">Tapro Technologies</p>
</div>