  .text-color{
    color: #1E3895;
  }
  .btn-outline-color {
    color: #1E3895;
    border-color: #1E3895;
  }
  .btn-outline-color:hover {
    color: #ffffff;
    background-color: #1E3895;
    border-color: #1E3895;
    font-weight:500;
  }
  